[2022-02-22 08:14] j-sieger commented on #646
Hi @diazandr3s ,

It is working now. Thanks for the help.

[2022-02-22 09:27] hshuaib90 commented on #223
I would be very keen to have this integration working. Do we know if there are particular hurdles or challenges with XNAT integration?

[2022-02-22 10:01] diazandr3s commented on #646
Glad to hear that! Sorry for the inconvenience.
Closing issue!

[2022-02-22 10:01] #646 closed

[2022-02-22 10:36] SachidanandAlle commented on #223
We need some xnat community to help on developing this plugin.. otherwise MONAILabel server has all the rest apis (ingredients) to support any viewers.. we took an extra step of providing such 2 reference implementations (3Dslicer and vanilla OHIF) to showcase the same.. these python/js based examples should be enough for others to follow.

[2022-02-22 11:59] diazandr3s commented on #223
This will be a great use case, @hshuaib90. MONAI Label + OHIF + XNAT
Happy to chat more about this. As @SachidanandAlle said, MONAI Label is ready to be integrated with XNAT. It has DICOMWeb support and there are several apps that can be used to facilitate medical image annotation.
There is also interest in supporting the new OHIF v3. See here https://github.com/Project-MONAI/MONAILabel/issues/603

[2022-02-22 20:50] hshuaib90 commented on #223
We have XNAT server set up at my hospital and I'd be happy to support early testing. I'm afraid I don't know XNAT well enough to contribute to the development - at least not yet.

[2022-02-23 11:35] SachidanandAlle opened #649 "Related to label deviating position (DeepEdit multi label app)"
Dear Sachidanand,

First of all I would like to thank and congratulate you for your tremendous work. AI for healthcare imaging has never been more accessible.

I am a medical physicist in radiotherapy department in Amsterdam. I am currently investigating the possibilities of deep learning based segmentation in adaptive radiotherapy using MRI images. I've been using/developing monailabel APP (deep_

[2022-02-23 11:39] SachidanandAlle commented on #649
@diazandr3s can you help on the deepedit issue.  Looks like some post-transform issue.
Or may be the problem is already solved in latest main branch.

If you have DICOM Webserver, we currently support NIFTI/Label masks to get converted into DICOM-Seg using dcmqi tools (itkimage2segimage).  We didn't see a use-case of producing DICOM-RT so far.

[2022-02-23 12:17] diazandr3s commented on #649
Thanks for pinging me here.
Regarding the post transforms, it was solved in the latest branch (https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/deepedit_multilabel/lib/infer.py#L161).

Would it be possible to try with the latest MONAI Label version? Install the [weekly version](https://pypi.org/project/monailabel-weekly/): `pip install monailabel-weekly` and let us know how that g

[2022-02-23 12:18] OmaBoh commented on #649
****_MONAI Label deepedit is one kind of example App. There can be multiple ways to solve certain use-cases. For example you can even train segmentation model per single structure or use other networks. Or use combinations of models (not just one deepedit/deeplearning model).**_ <-- Thank you this is clear

**If you have DICOM Webserver, we currently support NIFTI/Label masks to get converted into

[2022-02-23 12:43] SachidanandAlle commented on #649
when you save/submit the label to monailabel.. it gets added as DICOM SEG into your Orthanc/DICOM server..
NRRD or NIFTI is for local download (for debugging purpose)

[2022-02-23 14:48] pwrightkcl commented on #223
I have got MONAI label running at KCH, using the DGX as server and data store, and a standard NHS PC with Slicer as client. Long term, I expect we will want to use XNAT and OHIF too.

[2022-02-23 16:37] SachidanandAlle commented on #223
That's good.. lets c on XNAT+OHIF if something can happen in near future.. MONAILabel is an opensource project.. so lets hope to get some more developers from XNAT community pitching in to develop the required plugin at XNAT side to interact with MONAI Label server.

[2022-02-23 16:51] pwrightkcl commented on #223
I understand the current implementation is to use DICOM web. How does that handle labels?
1. How do you feed it existing labels?
2. Where does it put labels that you submit?

[2022-02-23 16:58] SachidanandAlle commented on #223
DICOM Seg is created and pushed via DICOM Web server (given all permissions are there to read/write for MONAILabel server)

[2022-02-24 10:35] OB-1606 commented on #649
thank you for your last suggestion,

I installed the latest weekly version using [pip install monailabel-weekly] however after installing I got the message "Successfully installed monailabel-weekly-0.4.dev2205". Is this correct? because the latest version I can find is monailabel-weekly 0.4.dev2208.

After installation I ran a new test; x and y direction still a difference of -2, however in the z

[2022-02-24 11:34] OB-1606 commented on #649
thank you for your last suggestion,

I installed the latest weekly version using [pip install monailabel-weekly] however after installing I got the message "Successfully installed monailabel-weekly-0.4.dev2205". Is this correct? because the latest version I can find is monailabel-weekly 0.4.dev2208.

After installation I ran a new test; x and y direction still a difference of -2, however in the z

[2022-02-24 12:29] diazandr3s commented on #649
Thanks, @OB-1606.
That monailabel-weekly version should be OK. If you like, you could specifically install the latest version using this command:
`pip install monailabel-weekly==0.4.dev2208`
With regards to the direction difference, would it be possible to see a print screen of the image/label? If you can, please also attach the log file (app.log) you can find in the `logs` folder.

[2022-02-24 12:50] OB-1606 commented on #649
Thanks,

Using --> pip install monailabel-weekly==0.4.dev2208  results in error:

![image](https://user-images.githubusercontent.com/23136221/155525636-1b344b61-956f-43fa-a247-3b49773534bc.png)

[2022-02-24 13:19] OB-1606 commented on #649
regarding direction difference here a print screen:
![image](https://user-images.githubusercontent.com/23136221/155527443-709158b6-0c72-4bb6-815a-966fff92a39e.png)

[2022-02-24 13:23] OB-1606 commented on #649
hereby the log file

[app.log](https://github.com/Project-MONAI/MONAILabel/files/8132724/app.log)

[2022-02-24 13:29] twilliams00 opened #650 "Model.pt and train_stats.json files not produced when running segmentation_left_atrium sample-app"
**Describe the bug**
Model.pt and train_stats.json files are not produced when running segmentation_left_atrium sample-app

When running the segmentation_left_atrium on the server, I have tried to run 'update model' on Slicer3D. The trainng status bar shows that training is taking place, and once it has reached 100% I 'submit label' and proceed to the next sample. However, when I click, 'update mo

[2022-02-24 13:39] diazandr3s commented on #649
Thanks for your quick response, @OB-1606.
From what I can see, the predicted label is a bit blocky and moved because of the image resolution used to train the model.

This is the result of upsampling both image and predicted mask. By default, the deepedit_multilabel App resizes the images to 128x128x128. See [here](https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/deepedit_multilab

[2022-02-24 13:55] OB-1606 commented on #649
Thanks again,

I checked for several images: 276 x 276 x 80.

I also use heuristic_planner does that matter?

[2022-02-24 13:59] diazandr3s commented on #641
Closing issue

[2022-02-24 13:59] #641 closed

[2022-02-24 14:02] diazandr3s commented on #650
Thanks for documenting this, @twilliams00.
New `model.pt` and `train_stats.json` are created after one iteration.

Can I ask you how many epochs did you run the training process?

If possible, please also attached the log file you can find in folder `logs` called `app.log`

[2022-02-24 14:07] diazandr3s commented on #649
Yes, heuristic planner is working and it considers the available GPU memory to define the image size for training and inferencing. I take this from the log you attached before:

`[2022-02-23 03:56:34,848] [9616] [MainThread] [INFO] (monailabel.utils.others.planner:71) - Available GPU memory: {0: 8785} in MB
[2022-02-23 03:56:34,849] [9616] [MainThread] [INFO] (monailabel.utils.others.generic:131)

[2022-02-24 14:11] OB-1606 commented on #649
so if I use a different GPU (larger memory size) solves this problem?

[2022-02-24 14:14] diazandr3s commented on #649
Yes, it should! You can either leave the heuristic planner to decide the image size or you just disable it and fix the image size yourself here https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/deepedit_multilabel/main.py#L57

[2022-02-24 14:54] OB-1606 commented on #649
changing current GPU is not straight forward at this moment and I still cant understand why its always the same deviation?

[2022-02-24 17:12] diazandr3s commented on #649
@SachidanandAlle, I think the same. The prediction is blocky and deviated because of the image resizing done for training and inference.
One thing you could do @OB-1606 is label refinement after getting the prediction. This can be done using the manual tools available in Slicer.

[2022-02-24 17:52] diazandr3s commented on #650
Thanks, @twilliams00. This is helpful.
From the logs I see that the training process never happens. This is the reason why you don't see the train_stats.json and the model.pt.
You can check the logs and see this error:

`RuntimeError: [enforce fail at ..\c10\core\CPUAllocator.cpp:79] data. DefaultCPUAllocator: not enough memory: you tried to allocate 683520000 bytes.
`

This means your PC don't ha

[2022-02-24 19:32] OB-1606 commented on #649
what is the minimum GPU memory required to solve this?

I'm already using some post labeling steps which makes the labels smoother but the deviation makes it a bit confusing

[2022-02-25 01:15] diazandr3s commented on #649
This is a good question, @OB-1606. This depends on different factors such as image size, data transforms, network architecture, batch size, etc
Just as a reference, I've trained the multilabel deepedit using the [BTCV](https://www.synapse.org/#!Synapse:syn3193805/wiki/217789) dataset using an image size of 256x256x128, bacth size =1 and it occupies around 17 GB of GPU memory.
As the images you're

[2022-02-25 12:03] pwrightkcl opened #655 "Slicer plugin: app name should be static text, not dropdown."
Like the title said. Since the app is set when starting the server, and multiple apps are not supported, the Slicer plugin should not show a dropdown for the model name, but just fixed text.

(Omitting usual details as this is UI feedback, not a crash report).

[2022-02-25 13:22] SachidanandAlle commented on #655
initial plan was to support multiple apps per server.. so u see only one item in the combo box.. the currently we are not thinking of deploying multiple apps per server.. may be a future item..

[2022-02-25 13:23] SachidanandAlle commented on #655
if you are looking model name (under smartedit/autosegmentation.. they can be as many.. so it is a dropdown for user to select)

[2022-02-25 13:25] pwrightkcl commented on #655
I was talking specifically about model name. It's just a bit confusing to the user to see a drop down when there will only be a single option. Perhaps make it static until you add support for multiple apps to the server, then change the plugin UI back to a drop down? Maybe that's too much hassle. I just wanted to log an issue to it could be decided in the proper place.

[2022-02-25 17:29] SachidanandAlle opened #656 "Pathology Annotation - Datastore to connect to DSA"
Bridge the communication between Simple DSA and MONAI Label Server
https://demo.kitware.com/histomicstk/api/v1

[2022-02-25 17:30] SachidanandAlle opened #657 "Pathology - Improve performance for inference"
- Explore GPU load options
- Run pre/post on GPU if available

[2022-02-25 21:12] twilliams00 commented on #650
Thank you for spotting the error @diazandr3s , and for all of the suggestions.
I have implemented all of the above, but it seems to be that my gpu memory allocation is at fault and is causing the issue so I will try to troubleshoot that.
Once again, thanks for the help!

[2022-02-26 01:17] diazandr3s commented on #650
No problem. Please don't hesitate to ask if there is anything you think we can help with.

Closing this issue

[2022-02-26 01:17] #650 closed

[2022-02-28 01:31] SachidanandAlle opened #660 "Create App for for 3DSlicer (Infer Only) for default server"
- It will have all major pretrained models (including deepedit, clara pretrained models) for users to run basic infer

[2022-02-28 01:34] SachidanandAlle opened #661 "Enable/Show only infer related actions for monai label"
In case of default public server, user need not to see anything related to training...
better mechanism to make the code/features available for certain use cases (make it more modular)

[2022-02-28 01:35] SachidanandAlle commented on #660
@lassoan I will get this app ready soon and share you the update over her.. possibly in couple of days.. then you should be able to try/deploy it over default server..

[2022-02-28 14:52] SachidanandAlle commented on #660
@lassoan this can be the starting point for you to try and run..

docker image: monailabel:latest

For now, you can download and run the app from here: (later we can include this as part of docker/release pip)
https://github.com/Project-MONAI/MONAILabel/tree/amalgamation/sample-apps/amalgamation

[2022-02-28 16:29] #615 closed

[2022-03-01 21:41] SachidanandAlle commented on #634
https://github.com/Project-MONAI/MONAILabel/releases/download/data/pathology_segmentation_tumor.pt
https://github.com/Project-MONAI/MONAILabel/releases/download/data/pathology_deepedit_tumor.pt

Evaluation of training done to train deepedit+segmentation model over Tumor.
Prototype done show-case to the team.  This is more of dryrun and we will be switching to Nuclei

[2022-03-01 21:41] #634 closed

[2022-03-04 14:31] Suchi97 commented on #616
Thanks `@diazandr3s`  for your reply

As per your suggestion, we retrained the model specifically for those labels (liver and spleen) using the BTCV dataset. Then used that trained model to label the liver and spleen, We could able to see some progress while doing the above steps.
Thanks again for your help.

We are using GPU having 32 GB memory. So, when executing the MONAI label, the whole GPU m

[2022-03-07 14:23] SachidanandAlle commented on #574
Depends https://github.com/Project-MONAI/MONAILabel/issues/582

[2022-03-07 14:25] #559 closed

[2022-03-07 14:40] SachidanandAlle commented on #616
if you are using multilabel.. and 512x512xN kind of higher spatial size.. with 32GB GPU.. this won't be enough..
you can switch to small spatial size.. please remember.. this is more of resource related choices and not related to application logic.

[2022-03-07 14:42] #649 closed

[2022-03-07 14:49] SachidanandAlle opened #678 "Pathology - Documentation Updates"
Provide documentation on how to use Pathology App, DSA client etc...

[2022-03-07 15:35] SachidanandAlle commented on #642
https://github.com/Project-MONAI/MONAILabel/tree/sachi/bcss/plugins/dsa

[2022-03-07 15:36] SachidanandAlle commented on #656
https://github.com/Project-MONAI/MONAILabel/blob/sachi/bcss/monailabel/datastore/dsa.py

[2022-03-07 15:36] #656 closed

[2022-03-07 15:37] SachidanandAlle commented on #600
Now with DSA.. you can train a model over existing image+label

[2022-03-07 15:37] #600 closed

[2022-03-07 16:20] #596 closed

[2022-03-07 17:30] SachidanandAlle commented on #660
@lassoan
Added DeepEdit/Left Atrium models as well.. this should be good enough to kick start..
If this looks ok.. then we can add this main branch and this shall be part of release/monailabel PIP package..

[2022-03-07 18:25] diazandr3s commented on #616
Thanks, @Suchi97.
Please confirm the image size you're using for this. I trained a model using a GPU of 24GB on images 128x128x128

[2022-03-10 13:38] cpinter opened #683 "Cannot start MONAILabel app on Windows due to missing openslide DLL"
**Describe the bug**
Starting MONAILabel apps is not possible using the latest version on WIndows due to a missing openslide DLL.

**To Reproduce**
Steps to reproduce the behavior:
1. Create and activate MONAILabel environment in anaconda
2. Install prerequisites
3. Start MONAILabel server.

<details><summary>See command and output here</summary>

(monai_env) c:\d\_Extensions\_MONAI\MONAILabel>mon

[2022-03-10 16:13] SachidanandAlle commented on #683
Correct.. openslide dependency is incomplete.. when you install openslide py package, they don't do a good job of installing the required dll/so files.. you have to install openslide (core) manually and keep the dll file also available in lib path..

Tried to suggest a better solution for them.. but no luck.. looks like the community is not able to understand the problem or they don't want to solv

[2022-03-10 18:30] #683 closed

[2022-03-11 15:53] Suchi97 commented on #616
Thanks @SachidanandAlle  and @diazandr3s for your reply.
We trained the model using GPU of 32GB on images having the spatial size 128x128x128. Its working now.

[2022-03-11 20:05] cpinter commented on #683
I downloaded openslide and tried to copy the DLLs to places where I assumed they will be found. Any suggestions how to make the DLLs accessible on Windows?

[2022-03-11 20:40] diazandr3s commented on #616
Glad to hear this. Thanks for letting us know.

Closing issue by now.

[2022-03-11 20:40] #616 closed

[2022-03-11 20:51] SachidanandAlle commented on #683
If you are not using pathology app.. u should be fine..

If you are using pathology app.. then edit the openslide py file and modify something like this..
https://github.com/openslide/openslide-python/pull/151

[2022-03-11 22:39] diazandr3s commented on #683
Thanks, @cpinter.
@SachidanandAlle fixed this. You should not have this issue now :)

[2022-03-12 15:06] cpinter commented on #683
Excellent, thank you for the quick fix!!

On Fri, Mar 11, 2022, 22:40 Andres Diaz-Pinto ***@***.***>
wrote:

[2022-03-15 12:25] SachidanandAlle opened #692 "3D Slicer doesn't support downloading https uri"
https://github.com/Slicer/Slicer/blob/master/Modules/Scripted/SampleData/SampleData.py#L854

It doesn't handle https resources

[2022-03-21 17:46] SachidanandAlle commented on #660
More details about the app: https://github.com/Project-MONAI/MONAILabel/tree/main/sample-apps/radiology

[2022-03-22 16:34] j-sieger opened #699 "Annotation of 2d images with MONAILabel and 3d slicer"
Is there any MONAILabel app for annotating 2d(png, jpeg) images ?

**I worked on annotating 3d(nifti) images with MONAILabel and 3d slicer. It is a very nice product and i liked it.**

I am exploring the annotation of 2d images with MONAILabel but i could not find the work done on the same. So, Any help about the same would be appreciated. Like links to previous works or guidance for me to achieve

[2022-03-22 19:47] diazandr3s commented on #699
Hi @j-sieger,

Thanks for opening this issue, this is a great question.

My first suggestion for this task is to work with the [Segmentation App](https://github.com/Project-MONAI/MONAILabel/tree/main/sample-apps/segmentation) instead of the DeepEdit App. I think it could be easier.

As a side project, I've started an App for 2D segmentation based on the Segmentation App. You may find it helpful.

[2022-03-22 20:59] lassoan commented on #699
3D Slicer does not distinguish between 2D and 3D images, but it simply treats a 2D image as single-slice 3D image.

[2022-03-22 23:34] diazandr3s commented on #699
Many thanks for your input, @lassoan.
For 2D applications, would you recommend using the same file formats for 3D applications (i.e. NRRD, NIfTI, DICOM)? or .png .JPG should work as well?

Thanks again!

[2022-03-23 00:05] SachidanandAlle commented on #661
[code]

[2022-03-23 00:05] #661 closed

[2022-03-23 00:06] SachidanandAlle commented on #660
[code]

[2022-03-23 00:06] #660 closed

[2022-03-23 00:08] SachidanandAlle commented on #580
https://github.com/Project-MONAI/MONAILabel/tree/main/sample-apps/pathology

[2022-03-23 00:08] #580 closed

[2022-03-23 05:02] lassoan commented on #699
If in the 2D image you have origin, spacing, orientation information or the image is large (>4GB), or use bit depth >8 then I would use nrrd/nifti/DICOM, because these 3D formats can store all these data in a standard way, while consumer image file formats (png, jpg, etc.) struggle.

However, if the user just works with uncalibrated RGB images (for example photos) then it would make sense to allow

[2022-03-23 12:25] j-sieger commented on #699
@diazandr3s
Thanks for your inputs. You have shared me the great initiation done by your team.
I am working on it. I will let you know my experience on working with 2d images along with 3d slicer.

[2022-03-23 13:11] diazandr3s commented on #699
Thanks, @lassoan!
@j-sieger please keep us posted.

[2022-03-23 19:07] lassoan commented on #699
When you represent your data as a numpy array then you may not know what each axis mean. For example, a 3D array may mean 2D spatial + color or 3D spatial. To avoid this ambiguity, a complex but robust and flexible solution would be to store axis metadata (which would tell what each axis of the numpy array means); a simpler solution could be to use a fixed axis order, such as `volume, slice, row,

[2022-03-24 00:36] diazandr3s commented on #699
Thanks for your input, @lassoan. This is helpful.

Storing axis metadata will definitely help to generalize 2D applications. For this, we can use the NRRD file format.

@j-sieger, I've created the 2D segmentation for lung segmentation using grayscale images, specifically X-ray images. Like this example https://github.com/imlab-uiip/lung-segmentation-2d

The app I mentioned above isn't fully functi

[2022-03-24 04:37] j-sieger commented on #699
Thanks @lassoan , @diazandr3s for your suggestions.

I don't have any solid requirement about working with RGB or grayscale. When I got this idea about trying 3d slicer with MONAILabel for 2d segmentation i started working on it as in future I need to use 3d slicer not only for segmenting 3d images but also for 2d images.

I have chosen RGB images as it is more common form of 2d images. currently

[2022-03-24 11:02] diazandr3s commented on #699
Thanks for clarifying, @j-sieger.

As you may know, there are several types of 2D images: natural images, histopathological images, [fundus images](https://commons.wikimedia.org/wiki/File:Fundus-photograph-left.jpg), X-ray images, satellite images, multispectral images, etc

Each application has its own challenge.

The dataset you've mentioned seems to be for a pathology application (nuclei segmen

[2022-03-24 11:14] j-sieger commented on #699
@diazandr3s Thanks for your clear information.

Actually, today I was going through your newly pathology application as well. After that even i realized the same points as you mentioned.
I will work as per the pathology application thread and check the results.

[2022-03-25 22:44] GhTara commented on #638
Hello @j-sieger, I face this issue too.
Excuse me how do you convert DICOM to NIFTI? I am new to this. I have a dataset containing DICOM files that every file devoted to a patient.

[2022-03-25 23:10] diazandr3s commented on #638
Hi @GhTara,

You may find this useful:

- https://github.com/icometrix/dicom2nifti
- If it is a small number of images:
Load the image in [3D Slicer](https://download.slicer.org/) and then save it in NIFTI OR https://www.onlineconverter.com/dicom-to-nifti

[2022-03-26 06:05] j-sieger commented on #638
Hi @GhTara ,
For converting dicom to nifti u can follow the links provided by @diazandr3s .
But i had 60 to 80 slices of dicom files for each patient. But in your case u have only 1 file per patient. Not sure how will it look like in 3d space with single slice

[2022-03-26 16:43] GhTara commented on #638
Many Thanks, @diazandr3s . by the first link, I did it.

[2022-03-28 05:31] j-sieger commented on #699
@diazandr3s
For pathology images we can use the new pathology application released.

What about segmenting OCT images (https://images.app.goo.gl/61ZTFXZzWZ5u7Gvm9). If i want to segment 9 different classes like you see in the given image link. Which application i can use ?

**Is it good to go with segmentation 2d app along with 3d slicer ? or QuPath with pathology ? **

Please suggest me any other

[2022-03-29 01:32] diazandr3s commented on #699
This is a great question @j-sieger.

My suggestion is to investigate what's the most popular viewer to segment OCT images. We could check whether we can implement a MONAI Label plugin there.

From my little experience with OCT images, they are 3D volumes that can also be analyzed as 2D slices, right?

If that's the case, you could easily start using MONAI Label to segment the 3D volumes.

@lassoan

[2022-03-29 11:32] j-sieger commented on #683
@SachidanandAlle  @diazandr3s

I am facing the same issue on Amazon linux2(EC2) while starting the MONAILalbel App. I need 'libopenslide.so.0' file. I am not able find `.so` file in my system path to add the path like you edited the `lowlevel.py` file.

Can you please help me here.

[2022-03-29 14:26] SachidanandAlle commented on #683
Can you help to shout out loud on openslide github..

[2022-03-29 16:16] diazandr3s commented on #683
Thanks for reporting this, @j-sieger
Are you using the Pathology App? Which MONAI Label version are you using?

[2022-03-30 05:39] j-sieger commented on #683
I am using pre release version i.e 0.4*

[2022-03-30 07:15] SachidanandAlle commented on #683
Are you trying on Ubuntu/Linux? In that case you can try
`apt install openslide-tools`

[2022-03-30 07:16] SachidanandAlle commented on #683
More easy way is use monailabel latest docker.. it has the dependency pre installed

[2022-03-30 09:24] j-sieger commented on #683
@SachidanandAlle :
I am using Amazon linux machine. It won't support `apt`. It support `yum`. but yum does not have `openslide-tool` or `openslide` package

Let me try to install MONAILabel from docker.

[2022-03-30 09:39] SachidanandAlle commented on #683
https://openslide.org/download/

[2022-03-30 10:18] j-sieger commented on #683
@SachidanandAlle  and @all

Please find the solution which worked for me on AMI. Sharing it, as it will be helpful for others.

1. to install EPEL
        `sudo amazon-linux-extras install epel`
2. Install openslide
        `sudo yum install openslide`

After this i tried starting monailabel server with pathology app. But i faced same issue.

Then followed below steps.
3.    `sudo yum install open

[2022-03-30 11:52] j-sieger opened #710 "MONAILabel extension is not found in Qupath application."
Dear MONAI label team,

I have installed the QuPath software but there is no 'MONAI Label' extension in the software.

Please let me know steps to add it. or any other version of the software needs to be installed.

<img width="650" alt="image" src="https://user-images.githubusercontent.com/9985334/160828252-665152dd-7a21-4444-8a29-0f98a1efa37b.png">

Thanks,
Jani Basha S.

[2022-03-31 00:59] diazandr3s commented on #710
Hi @j-sieger,

Thanks for opening this issue.
Prototype QuPath for MONAI Label should be installed from https://github.com/SachidanandAlle/qupath
Once installed, build and run QuPath. Then follow the next steps:

1. Open sample wsi image from sample_wsi (shared with MONAILabel)
2. Ctrl + CLick on some area of Image to add MONAI specific ROI
3. Resize ROI if needed
4. Menu -> MONAILabel -> Run

Mor

[2022-03-31 03:50] SachidanandAlle commented on #710
Pathology app is underway.. and qupath is not in the roadmap.. as its opensource we r looking for contributions from community to get it done..

https://github.com/Project-MONAI/MONAILabel/discussions/599

[2022-03-31 06:00] j-sieger commented on #710
Thanks @SachidanandAlle
I will work on it.

[2022-03-31 19:31] bhoeckendorf opened #714 "Inference of radiology sample app fails"
**Describe the bug**
Inference fails when running radiology sample app using latest git of MONAI and MONAILabel through the Slicer plugin. From the traceback (below), it looks as if the issue is related with writing intermediate results through ITK.

**To Reproduce**
Steps to reproduce the behavior:
1. Install MONAI and MONAILabel latest git
2. Run radiology sample app with `-c models segmentation

[2022-03-31 19:38] SachidanandAlle commented on #714
looks some issue with the image/metadata.. `015.000.t2.img.IDESFT1303.2014-03-14.nii.gz`

have you tried some simple images.. and you see this basic issue? if not then, you might want to dig deeper into itk libraries which it's causing some issue.. what went wrong in direction.. or what is the attribute something not compatible..

[2022-03-31 19:39] SachidanandAlle commented on #714
you can download some public datasets (MSD) using monailabel..
`monailabel datasets`

[2022-04-01 11:26] karenhes opened #718 "Not able to train model using monailabel0.4.0rc and the spleen dataset"
I followed the following description to install and start running monailabel:

pip install monailabel==0.4.0rc
monailabel apps --download --name radiology --output apps
monailabel datasets --download --name Task09_Spleen --output datasets
monailabel start_server --app apps/radiology --studies datasets/Task09_Spleen/imagesTr --conf models deepedit

Then I opened Slicer and imported and submitted so

[2022-04-01 12:11] SachidanandAlle commented on #718
Try simple spleen segmentation model.. may be you don't have enough gpu

[2022-04-01 16:12] bhoeckendorf commented on #714
You're right, it works well with the public dataset. I'm not exactly sure what or why, but the underlying problem indeed seems to be with the images' metadata. Thanks for the quick pointer.

[2022-04-01 16:12] #714 closed

[2022-04-02 15:06] jamesobutler opened #719 "Unsuccessful `pip install monailabel>=0.4*` on Windows platform"
Hi, I'm a frequent contributor to the [3D Slicer](https://github.com/Slicer/Slicer) project and was attempting to try out MonaiLabel for Slicer. We are prepping to cut a new stable release of Slicer (5.0) here soon and are checking the status of various extensions prior to release. When I attempted to set up the dependencies instructed at https://github.com/Project-MONAI/MONAILabel#development-rel

[2022-04-02 15:19] SachidanandAlle commented on #719
R we talking about extension or server?

[2022-04-02 15:45] jamesobutler commented on #719
Setting up the server dependency (https://github.com/Project-MONAI/MONAILabel#development-release) to then be able to use the MonaiLabel module as provided by the MonaiLabel Slicer extension.

[2022-04-02 17:05] SachidanandAlle commented on #719
The main issue is Scribbles dependency..  simple crf..

@masadcv is our core developer for scribbles.. we have some issues to address due to numpy or simple crf dependency..

There is some effort from simple crf team to make the pip install easier for all os..  lets here more updates on this from asad.. hopefully we will have some better solutions from simple crf to address this issue

[2022-04-02 17:50] masadcv commented on #719
Many thanks for tagging me here.
Yes, the main issue is that SimpleCRF is required for two main optimization methods: 1) Graphcut and 2) CRF. These are used in scribbles as post-processing steps to refine segmentations.
We have some solutions to this by pre-compiling whls in SimpleCRF PyPi distribution, but have not heard from SimpleCRF team on their integration (https://github.com/HiLab-git/Simpl

[2022-04-02 18:07] jamesobutler commented on #719
Thanks for the help here! Yes, it would be great to limit `monailabel` dependencies to well supported projects to ensure the success of the MonaiLabel project in the long run. It appears that `SimpleCRF` was developed primarily by a single individual that appears to have been a PhD student at University College of London. Individuals graduate and/or move on which is perfectly fine, but it often le

[2022-04-03 04:41] jamesobutler commented on #223
For some additional knowledge on this topic, 3D Slicer + XNAT has existed with https://github.com/NrgXnat/XNATSlicer however it had become unmaintained and was recently disabled from the Slicer extensions catalog. It could be enabled again if there are developers interested in supporting it again. See https://github.com/Slicer/ExtensionsIndex/blob/master/ARCHIVE/XNATSlicer.s4ext

[2022-04-03 06:54] one-matrix commented on #241
This is an important function for MRI（T1，T2...），look forward to

[2022-04-03 12:27] diazandr3s commented on #241
Thanks for your comment, @one-matrix.
We're creating a smarter heuristic planner that will allow the user to work with multimodal volumes. I hope our first use cases work on the [BRATS dataset](https://www.med.upenn.edu/cbica/brats2020/data.html) or [ProstateX dataset](https://prostatex.grand-challenge.org/)

Stay tunned! :)

[2022-04-03 13:48] diazandr3s commented on #718
Thanks for raising this error, @karenhes.
We've recently fixed this issue.
Can you please install the latest [monailabel-weekly](https://pypi.org/project/monailabel-weekly/) and let us know how that goes?

[2022-04-04 05:44] DaoMaoDuc opened #722 "Feature proposal: MONAILabelReviewer"
In our Berlin working group we have now been able to create some valuable data sets with MONAILabel. All in all it was a very good experience to switch to MONAILabel.

As we work with radiologists of different levels of experience, we saw the need to develop a review tool for MONAILabel that allows for easy visualization, assessment and quality assurance of the acquired datasets.

@jlvahldiek and

[2022-04-04 06:29] SachidanandAlle commented on #722
This is really we wanted to happen when we started this open source project.. better ideas and more contributions 😀

Lets have a discussion on possibly you guys can give a small presentation/demo which can help to understand more about reviewer.. lets include couple of more stakeholders so that we can shape it to next possible deliverables

@pdong (pm for monailabel)

[2022-04-04 09:02] j-sieger commented on #710
Building from source is failing with below error.

[code]

[2022-04-04 09:57] diazandr3s commented on #722
This is great, @DaoMaoDuc @jlvahldiek :)
As @SachidanandAlle suggested, let's meet and talk more about this.

CC @pdogra89

[2022-04-04 10:10] SachidanandAlle commented on #719
lets exclude simplecrf while installing default monailabel.. and user can choose monailabel[all] to install everything that includes simplecrf...

[2022-04-04 10:21] SachidanandAlle commented on #718
any updates on this?  I guess you forgot to add the full exception in the log.. it just ends at: `Engine run is terminating due to exception: applying transform <monai.transforms.compose.Compose object at 0x00000289860C3670>`

full exception trace?

[2022-04-04 10:23] SachidanandAlle commented on #699
actually it should be very simple.. for deepgrow 2D model, we train on 2D images.. basically take z dimension and get all the 2D slices and train a model..

For pathology it's all 2D.. may be WSI inference is the extra thing.. which we don't have to worry in case of smaller 2D images..
It's all how you craft your pre-transforms to created the required input to train/infer a model..

[2022-04-04 10:27] SachidanandAlle commented on #636
any updates?

[2022-04-04 11:18] patricio-astudillo commented on #636
Yes, I checked this with @diazandr3s and we came to the conclusion that the dataset did not contain any series without labels. So if there are no 'empty' series initially (or anymore (but this needs to be checked)), the error occurs.

[2022-04-04 12:24] j-sieger commented on #699
@diazandr3s : I am working on Segmenation_2d app.
I have labelled few 2d images from my Dataset. Labels got saved in ***.nii.gz** format.

Facing the below error in transformation when i am trying to train the model.

[code]
**Few parameters from the randomize function to fall_back_tuple as follows.** I printed them using print statements in `misc.py` file.
[code]

[2022-04-04 13:48] jamesobutler commented on #719
For the default installation it should use the same implementation (without SimpleCRF) for all platforms for reproducibility reasons. I'm ok with non-default configurations producing different results on different platforms.

[2022-04-04 15:26] lassoan commented on #699
Slicer supports OCT images, including:
- import: from DICOM and from a few special OCT file formats (importer in Sandbox extension)
- reconstruction: can reconstruct radial images o Cartesian volumes (using SlicerIGSIO extension)
- visualization: slice views and volume rendering works without problems
- processing: some users segmented OCT images successfully, and all other processing should work

[2022-04-04 19:03] lassoan opened #724 "Use standard terminology to define content of a segment"
Specifying meaning of segment by label values or names is very limited and fragile. It is practically impossible to use consistent label values when the same data sets are used for multiple projects, usage of label names are too error-prone (due to spelling mistakes or differences in spelling), and meaning of labels names are often not well defined.

I would recommend identifying segments using a

[2022-04-05 02:57] j-sieger commented on #699
@diazandr3s :

Currently i am working on Nuclei dataset from kaggle(https://www.kaggle.com/competitions/data-science-bowl-2018/overview). once the model works fine on this dataset, i will work on OCT 2d images.

[2022-04-05 09:01] SachidanandAlle commented on #722
@diazandr3s is trying to reach out to setup a meeting..

[2022-04-05 09:08] SachidanandAlle commented on #710
i guess some latest java version directly provide guava library..
For example, when I use I don't see need to add extra dependency

[code]

Either you can install the needed jar/library and add into your jre/java path or simply use openjdk that comes with guava library
https://mvnrepository.com/artifact/com.google.guava/guava

[2022-04-05 09:24] j-sieger commented on #710
I have installed latest version of java

[code]

[2022-04-05 09:34] SachidanandAlle commented on #710
![image](https://user-images.githubusercontent.com/7339051/161724902-4ef83b2b-1eec-4213-8b21-833442215988.png)

[2022-04-05 09:39] SachidanandAlle commented on #710
I see it's coming from project external dependency..

![image](https://user-images.githubusercontent.com/7339051/161725803-364bbb36-52d9-418f-9f8d-8d6fdd0b5386.png)

[2022-04-05 10:07] SachidanandAlle commented on #719
Lets wait for https://github.com/HiLab-git/SimpleCRF/pull/8 and decide something based on the outcome of this PR

[2022-04-05 10:10] karenhes commented on #718
It may be that I missed parts of the log.
However, after installing an updated version everything is working out of the box for the spleen dataset and the smartedit function is improved :)
(unfortunately I cannot figure out how to train my own data on other organs as I did with the stable version, but that is next step.)
I installed a new version as follows:

pip install git+https://github.com/Pro

[2022-04-05 10:10] #718 closed

[2022-04-05 10:22] diazandr3s commented on #718
Thanks for letting us know, @karenhes

[2022-04-05 10:46] lassoan commented on #722
I world be interested in the demo, too. If you send me the meeting time and link then I'll try to join. Thank you!

[2022-04-05 12:49] andreped commented on #719
I have now created a PR #725 that solves this issue, using the new SimpleCRF-binaries PyPI project instead of the old one, as discussed in https://github.com/HiLab-git/SimpleCRF/issues/7.

This is a temporary fix until the SimpleCRF developer has time to merge the fix into the main project. However, it should solve the issue you are experiencing here with MONAI Label.

[2022-04-05 13:16] masadcv opened #726 "SimpleCRF license issues"
We just noticed that SimpleCRF depends on Yuri Boykov's implementation of maxflow for graphcuts (see: https://github.com/HiLab-git/SimpleCRF/tree/master/dependency/maxflow-v3.0) which is coming from here: https://pub.ist.ac.at/~vnk/software.html

This dependency has a GPL license which may be incompatible with MONAI's licenses and hence it maybe a good idea to remove any dependencies on SimpleCRF

[2022-04-05 13:19] SachidanandAlle commented on #726
we should stop using SimpleCRF if it has license issue..

[2022-04-05 13:23] SachidanandAlle commented on #726
@andreped ^^

[2022-04-05 13:27] SachidanandAlle commented on #726
@masadcv can you please make the changes and exclude only the logic/methods that need simplecrf for now.. and exclude it from sample apps (as we might not have any methods available for scribbles)

[2022-04-05 13:31] andreped commented on #726
Oh boy... That's annoying. Shouldn't that mean that SimpleCRF also has to have a GPL license? The virus license strikes again...

But yeah, then my PRs and fixes are not really that helpful (at least for now)...

Rather impressed really that you discovered this breach. There is nothing said about this in the SimpleCRF repo, only on the website here:

But if you just want to use maxflow, I guess yo

[2022-04-05 15:09] masadcv commented on #726
Many thanks @lassoan I will have a look into grow-cut methods.
Is there any link to graphcut implementation that you have been using in Slicer?

[2022-04-05 15:13] masadcv commented on #726
Unfortunately the code for that also comes from same source and have same issues with license - so we cant use it here either. I am looking into replacing it with a friendlier license - but it may take some time...

[2022-04-05 15:15] masadcv commented on #726
@andrepred can you please send me a message on slack? I am on the MONAI group...

[2022-04-05 15:19] andreped commented on #726
I am not a member of that slack team (yet). I have sent a request to join. Will send you a message when I am added to the group.

[2022-04-05 18:26] lassoan commented on #726
The graphcut Slicer segmentation module is available here: https://github.com/Slicer/SlicerGraphCutSegment/

The algorithm classes are here: https://github.com/Slicer/SlicerGraphCutSegment/tree/master/GraphCutInteractiveSegmenter/Logic/TumorSegm

It uses Yuri Boykov's maxflow implementation. It probably would not have been a big deal reimplementing that maxflow algorithm, we just did not bother be

[2022-04-05 21:50] jamesobutler commented on #719
Now with https://github.com/Project-MONAI/MONAILabel/commit/d1f4b546553e8ffd1336ae70099f9d353fac523c, doing the following on Windows I can confirm `monailabel` is successful. It might be helpful though to cut a new release candidate now that some dependencies have changed.

[code]

[2022-04-06 10:32] andreped commented on #719
I think a patch or release candidate is definitely important, _due to the licensing issue with having SimpleCRF as a dependency_ in MONAI Label. Looking forward to the release.

[2022-04-06 11:27] SachidanandAlle commented on #719
Agreed.. lets have a development release **0.4.0rc2** for now and update the docker instance for monailabel...

[2022-04-06 11:41] SachidanandAlle commented on #719
https://pypi.org/project/monailabel/0.4.0rc2/ is available and docker instance is updated

[2022-04-06 11:41] #719 closed

[2022-04-06 11:55] SachidanandAlle commented on #575
Similar problems again:
https://dev.azure.com/projectmonai/monai-label/_build/results?buildId=879&view=results

https://dev.azure.com/projectmonai/monai-label/_build/results?buildId=880&view=logs&j=97ddd399-bfa5-5e5e-4b0a-84a6e98cad07

@evberrypi
Time to move to Blossom?

[2022-04-08 00:02] jamesobutler opened #733 "Handling of work in progress pull requests"
## **Is your feature request related to a problem? Please describe.**
I've observed in https://github.com/Project-MONAI/MONAILabel/pulls a varying method of indicating that a pull request still has some work to do or that it should not be merged. There is usage of "[WIP]" in the PR title which some GitHub apps can use by a status check, though there is no status check for this repo. There is a lab

[2022-04-11 09:54] SachidanandAlle opened #739 "User Authentication in MONAI Label"
Option: https://www.keycloak.org/ (fast api version: https://fastapi-keycloak.code-specialist.com/)
Option: https://github.com/fastapi-users/fastapi-users
Option: https://fastapi-login.readthedocs.io/installation/

[2022-04-11 09:58] SachidanandAlle commented on #739
@pdogra89 please jump into add more details

[2022-04-12 23:32] jamesobutler opened #744 "Unsuccessful `pip install monailabel>=0.4.0rc2` on Windows platform with Python 3.10"
**Describe the bug**
`monailabel` has a python requirement that is >= 3.7, but does it support Python 3.10? On PyPI it appears to use the below specification for what it shows on the webpage. PyTorch 1.11.0 provides Python 3.10 wheels [directly](https://download.pytorch.org/whl/torch_stable.html) and [on PyPI](https://pypi.org/project/torch/1.11.0/#files).
https://github.com/Project-MONAI/MONAILab

[2022-04-13 12:09] SachidanandAlle commented on #744
have u tried latest version of shapely?
https://github.com/shapely/shapely/issues/1263#issuecomment-1042292592

[2022-04-13 12:18] SachidanandAlle commented on #744
[code]

waiting for scribbles.. then we can push this change also as part of rc3 for monailabel

[2022-04-13 12:55] SachidanandAlle commented on #744
I see there are more such dependency issues not yet ready for 3.10.. I see monai also doesn't yet support 3.10...
For example.. i can not install ` SimpleITK!=2.1.1.1` or opencv packages..

[2022-04-13 15:09] SachidanandAlle commented on #744
its done by automation.. keep it reopened for tracking..

[2022-04-13 22:25] jamesobutler commented on #726
@masadcv Shall this issue be closed since d1f4b546553e8ffd1336ae70099f9d353fac523c removed SimpleCRF support and a replacement was introduced in fe3751105e905babf69693fee8009c28ef421a24?

[2022-04-13 22:38] masadcv commented on #726
Yes, lets close this! Many thanks!

[2022-04-13 22:38] #726 closed

[2022-04-13 23:04] diazandr3s opened #746 "MONAI Label doesn't work with torch<=1.10.0"
**Describe the bug**

After the PR https://github.com/Project-MONAI/MONAILabel/pull/731 added **_torchmaxflow==0.0.6rc1_** to the requirements, MONAI Label stopped working for torch versions older than 1.10.0, specifically version 1.8.0.

I've also tried installing previous **_torchmaxflow_** versions (0.0.4 and 0.0.5) and still got the same error.

**To Reproduce**

- Using Linux/Ubuntu OS, creat

[2022-04-14 08:01] #211 closed

[2022-04-14 11:14] jamesobutler commented on #746
MonaiLabel currently says it support torch 1.6.0 and later so if it only support 1.10.0 and later that should be clarified.

https://github.com/Project-MONAI/MONAILabel/blob/fe3751105e905babf69693fee8009c28ef421a24/pyproject.toml#L5

Based on @masadcv ’s comment at https://github.com/Project-MONAI/MONAILabel/pull/731#issuecomment-1095788125 it appears torchmaxflow’s limitation to torch 1.10.0 and

[2022-04-14 12:42] SachidanandAlle commented on #746
Soon monai core also dropping support for older torch version.. lets fix the readme.. we need scribbles.. so lets recommend users to use torch >= 1.10

[2022-04-14 12:51] jamesobutler commented on #746
@diazandr3s pytorch issue 75740 is a user describing using a RTX A6000 with PyTorch version: 1.10.1+cu113. Do you need a newer CUDA version?

[2022-04-14 13:03] diazandr3s commented on #746
Thanks, @jamesobutler.
I just checked and have this version:

I'll double check the previous error:

And then update the readme

Thanks again!!

[2022-04-14 14:23] diazandr3s commented on #746
Solved this issue by creating a conda environment with this command:

[2022-04-14 14:57] diazandr3s commented on #746
Readme file updated https://github.com/Project-MONAI/MONAILabel/pull/748

[2022-04-14 14:57] #746 closed

[2022-04-18 10:15] SachidanandAlle commented on #575
Manual Retry on failure works for now.. we can retry failed jobs (stuck due to resource scheduling) to unblock and finish the workflow/pipeline...

[2022-04-18 10:15] #575 closed

[2022-04-18 10:17] SachidanandAlle commented on #692
@jamesobutler do you have any better approaches to fix this issue.. ?

[2022-04-18 11:14] jamesobutler commented on #692
@SachidanandAlle Can you provide a small code example to run in the latest Slicer Preview build that produces the error that you’re interested in? An issue with the Slicer SampleData module not able to download volumes with an https url?

[2022-04-18 11:19] SachidanandAlle commented on #692
That's correct.. just sampledata module..
not able to download from https uri.. you can give quick try in python interpreter.. using the sampledata-> downloadfromurl api

[2022-04-18 12:57] jamesobutler commented on #692
Using the SampleData module's `downloadFile` method appears to work for https downloads
[code]

[2022-04-18 13:00] SachidanandAlle commented on #692
Try when the cert is not verified (kind of localhost ssl)

[2022-04-18 13:24] lassoan commented on #692
SSL certificates are complicated and solutions may be OS (and even flavor and configuration) dependent.

What operating system do you have problem on? Can you give a minimal example to reproduce?

[2022-04-18 19:27] wanting0wang opened #750 "Cannot download app on Windows"
**Describe the bug**
os: windows 10

After installing monailabel on my windows machine, I tried to follow the tutorial. The step to download app `radiology` failed with error
[code]
![image](https://user-images.githubusercontent.com/25274600/163848614-eacc4694-a8e8-41e8-a7f3-0cacc4344d26.png)

It seems like instead of _downloading_ the app, it tries to _load/locate_ the app locally?

**To Reproduc

[2022-04-18 22:47] jamesobutler commented on #750
`pip install monailabel` will currently get version 0.3.2 which is the latest regular release (https://pypi.org/project/monailabel/0.3.2/#history).  It appears running `monailabel apps --download --name radiology --output apps` is a specific to the latest development release which would require `pip install monailabel>=0.4*`. Otherwise if you are using version 0.3.2, you need to follow instruction

[2022-04-18 23:23] wanting0wang commented on #750
@jamesobutler thank you! that's good to know

I followed the instructions on this page (https://docs.monai.io/projects/label/en/latest/installation.html). It doesn't say the example is only for the dev release so I didn't know. Maybe it needs to be updated? And thank you, I will try the dev release :)

[2022-04-18 23:53] jamesobutler commented on #750
@wanting0wang I believe you have just missed the documentation version selected.

The "latest" version of the documentation (https://docs.monai.io/projects/label/en/latest/installation.html#downloading-sample-apps-or-datasets) corresponds to the "latest" code which is https://github.com/Project-MONAI/MONAILabel/tree/main.
![image](https://user-images.githubusercontent.com/15837524/163894338-27c49a

[2022-04-19 03:55] wanting0wang commented on #750
@jamesobutler Honestly by "latest" I thought it's the "latest stable version".. now I know it's the dev version! I will add that if it's the dev version, then you may want to remove `pip install monailabel` in this doc page for clarity. Thank you very much for the explanation!

[2022-04-20 12:43] masadcv commented on #746
Apologies for delayed response on this.

As mentioned in https://github.com/Project-MONAI/MONAILabel/pull/731#issuecomment-1097323581 and discussed in that thread, an alternate could be to use numpy for maxflow (instead of torch).

I have a variant of maxflow library that interfaces through numpy (https://github.com/masadcv/numpymaxflow) – it still needs a lot of testing and debugging but may be a

[2022-04-24 14:31] masadcv commented on #607
The latest version (current main) now contains a solution to multi-label scribbles.
See: #717 and related #731

@rijobro can you please test scribbles now with your use-case - let me know if you spot any issues with multilabel scribbles.

I am marking this as resolved for now

[2022-04-24 14:31] #607 closed

[2022-04-24 14:33] masadcv commented on #447
Closing this and #473 for now. We can reopen if we see interest in getting this solved within monai label.

[2022-04-24 14:33] #447 closed

[2022-04-24 23:27] masadcv opened #756 "OHIF support for multi-label scribbles"
Recent updates added multi-label scribbles support to monai label and slicer.
To have feature parity with OHIF, similar updates are needed to make scribbles work with recent changes.

This involves (and is not limited to) the following steps:
- Add support in OHIF to work on specific labels within multi-label setting
- Add support in OHIF to communicate segmentation labels (similar to how its done

[2022-04-24 23:32] masadcv commented on #439
@SachidanandAlle resolving this issue will give us a new infer method for scribbles. It may potentially address some limitations of histogram method, especially in ambiguous cases.

Do you want me to include this alongside Histogram+GraphCut method we have in radiology app?

[2022-04-25 06:04] SachidanandAlle commented on #439
Makes sense.. already some were complaining about empty results for certain images..
Also multiple options will help others to follow and contribute more such methods

[2022-04-25 09:17] rijobro commented on #607
@masadcv thanks for this! I can't test as I'm currently doing research that doesn't use MONAI Label, but will feedback if there are any issues when I'm next using it.

[2022-04-25 11:46] masadcv commented on #439
Okay many thanks! I am looking into this now and will add this once it is ready.

[2022-04-26 10:34] one-matrix commented on #241
Thanks @diazandr3s ，i have changed code to compatible. like this in  interfaces/app.py
add images field in request. and combine  one nii  file from multi dicom files.
Hope to contribute some code
`
        if os.path.exists(image_id):
            request["save_label"] = False
        else:
            request["image"] = datastore.get_image_uri(request["image"])
            if("images" in request):

[2022-04-27 14:09] #583 closed

[2022-04-27 14:09] #710 closed

[2022-05-02 12:49] jlvahldiek opened #766 "UpdateSegmentationMask fails to correctly read .seg.nrrd in Slicer extension after InferTask"
We are using .seg.nrrd format in one of our MONAILabel apps in order to store overlapping segmentations. In a simple `InferTask` a .seg.nrrd gets written correctly to the 'original' folder on the MONAILabel server. When this file is then automatically read and pushed into Slicer in `UpdateSegmentationMask()` the pixel data of the various segments gets flattened to one layer and incorrectly read in

[2022-05-02 22:24] diazandr3s commented on #766
Hi @jlvahldiek,

Yes, please propose the PR.
In case you'd like to use a MONAI Label App for overlapping segments, remember that the sample apps, by default, have softmax and then one-hot outputs https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/infers/deepedit.py#L111

This is something that should be changed when thinking about an app that works on overlapping segme

[2022-05-02 22:50] diazandr3s commented on #241
Thanks, @one-matrix.

We've now added an argument that allows us to train multimodality models: https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/configs/deepedit.py#L51

We need to further check how to edit labels in multimodality images in Slicer.

Thanks again!

[2022-05-03 03:37] lassoan commented on #241
What do you mean by multi-modality image? Multi-channel image? One option is to load it as a volume sequence. You can then switch between channels using previous/next buttons in the sequence toolbar (and/or you can add playback control widget to the module GUI).

If the images have different geometry (origin, spacing, axis directions) then they can be loaded as separate volumes and the user can ch

[2022-05-03 18:56] diazandr3s commented on #241
Many thanks, @lassoan.
Yes, I mean multi-channel images like in the BRATS dataset. All channels are registered and with the origin, spacing, etc

[2022-05-04 20:32] jlvahldiek commented on #766
Thank you, @diazandr3s.
You are right, in fact in our subclass of InferTask we had to modify the write method/writer class accordingly so that a multi-channel segmentation is saved in .seg.nrrd format. This works fine so far.

The problem then is the re-import of the .seg.nrrd file generated by InferTask back into Slicer. This re-import does not work with the current implementation of UpdateSegmen

[2022-05-05 13:42] SachidanandAlle commented on #613
you might be looking for this: https://github.com/Project-MONAI/MONAILabel/tree/main/sample-apps/radiology#list-of-pretrained-models

In case of scribbles.. it's always enabled.. you can go to 3D Slicer and under scribbles section you should see only one option so far..

[2022-05-05 14:37] themantalope opened #770 "unable to start server with comma-separated model configuration"
**Describe the bug**
When starting the `monailabel` server  an `unrecognized argument` error is thrown:

`monailabel start_server --app radiology --studies my_data --conf models deepedit, deepgrow_3d, segmentation`

**To Reproduce**
launch the `projectmonai/monailabel:latest` docker container
run `monailabel start_server --app radiology --studies my_data --conf models deepedit, deepgrow_3d, segmen

[2022-05-05 14:41] SachidanandAlle commented on #770
Don't use space or quote the full value

[2022-05-05 22:09] diazandr3s commented on #613
Hi @themantalope,

Thanks for commenting on this. You're right, there is a gap in the documentation for this.

We're working on first "standardizing" this flag for the coming MONAI Label functionalities and then creating a short video showing the different options.

In the meantime, I'd recommend you to check what @SachidanandAlle pointed out and also these lines: https://github.com/Project-MONAI/

[2022-05-05 22:16] diazandr3s commented on #770
Hi @themantalope,

Thanks for reporting this.
Out of curiosity, on which image modality and task are you using all the three models available in MONAI Label (deepedit, deepgrow_3d, segmentation)?

[2022-05-06 06:06] dtruhn commented on #722
Great work, thank you very much! This is really what is missing - at our hospital, labelling is often done by students, but you need some kind of quality control by experienced physicians. MONAILabelReviewer would make that possible - very important contribution!

[2022-05-06 14:51] themantalope commented on #613
This was very helpful!

[2022-05-06 14:53] themantalope commented on #770
Hi everyone. Yes I was experimenting with the different available models, more for curiosity and examining how the system worked. Removing spaces between commas fixed the issue. Thank you all for your response.

[2022-05-09 23:05] SachidanandAlle commented on #692
It works... I can confirm by running monailabel server in https mode..
`SampleDataLogic().downloadFile` is all ok.. the problem is in client for POST request to negotiate handshake..

[code]

[2022-05-09 23:18] SachidanandAlle commented on #496
Fixed in main branch..

Add selection for training.. some of the attributes in data dictionary are not compatible for batching.. example signals, slice info etc..

`ToTensord(keys=("image", "label"))`

https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/trainers/deepedit.py#L97
https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/trainers/deep

[2022-05-09 23:18] #496 closed

[2022-05-09 23:20] SachidanandAlle commented on #657
https://github.com/Project-MONAI/MONAILabel/pull/774 (solves dsa writer latency issues)

[2022-05-09 23:34] #766 closed

[2022-05-10 06:48] #692 closed

[2022-05-10 10:12] LilianaCaldeira commented on #722
Dear all,

We (Radiology UK Köln) are also very interested in this! In our department, we would like to do reviewing of cases by more experiences colleagues. My team and I would be interested in a demo too.

Thank you in advance,
Liliana Caldeira

[2022-05-12 17:08] lassoan commented on #22
We can visualize 4D volumes, but loading of 4D Nifti files is currently not supported. You can load 4D NRRDs. We could add loading of 4D Nifiti images, which should not be a lot of work if ITK already supports it.

[2022-05-12 17:15] diazandr3s commented on #22
Many thanks, @lassoan

[2022-05-13 17:52] diazandr3s opened #780 "Strange behaviour of Segment Editor in MONAI Label"
**Describe the bug**

- Slice fill and slicer outline visibility is set to 0 by default.

![issue-segment-editor](https://user-images.githubusercontent.com/11991079/168340074-b9c9f1a7-266f-48c5-935b-d94b6b7dff30.png)

- Undo command in Segment Editor of MONAI Label doesn't work as good as using Segment Editor directly in Slicer. It removes everything instead of the last action.

- Order matters wh

[2022-05-13 18:12] lassoan commented on #780
You need to call `saveStateForUndo()` before doing any operation that you would like to undo on the segmentation. This creates a checkpoint that the next undo operation will return to. In general, I would recommend to save one state for one user action on the GUI (that way a single action can reverted by a single click on Undo). `saveStateForUndo()` is available both in the segment editor widget a

[2022-05-16 07:05] DaoMaoDuc commented on #722
Hi, everyone.
Sorry for the delay in submitting the MONAILabelReviewer extension.
I'm still working on the unit sets to achieve high test coverage on the code.

[2022-05-16 13:08] SachidanandAlle commented on #750
i believe the docs are updated on.. for stable version.. specially the readme section: https://github.com/Project-MONAI/MONAILabel#currentstable-version-03x

[2022-05-16 13:08] #750 closed

[2022-05-16 13:10] SachidanandAlle commented on #678
Most of the docs are updated based on pathology app.. keeping this issue open for more tracking/verifying.. until final release

[2022-05-16 13:11] jamesobutler commented on #750
@SachidanandAlle Do you know if ReadTheDocs supports specifying a branch for the "Stable" release documentation? Is it possible to backport documentation updates for a stable release? Or is https://docs.monai.io/projects/label/en/stable/ tied to a GitHub tag?

[2022-05-16 13:32] SachidanandAlle commented on #750
frankly speaking, we want users to start using the latest version.. stable version is outdated based on the restructure after we add pathology usecase.. we are encouraging people to use latest version (either install through github or latest release candidates or weekly package or docker) so that we can actively support related to user queries related to radiology/pathology usecases..

But otherwi

[2022-05-16 14:07] #744 closed

[2022-05-16 14:29] jlvahldiek opened #787 "Feature request: Support multiple annotations on the same image instance"
To create high-quality datasets, it is necessary to have the same image annotated multiple times by different people (e.g. double or triple segmentations). At the moment there is no interface for this in MONAILabel.

My team could also contribute to this, but I am not sure what is the best way to implement this feature. Certainly some changes need to be made to the datastore, filter functions and

[2022-05-16 14:54] SachidanandAlle commented on #787
Server provides api to save label across multiple tags.. is that not useful?

[2022-05-16 15:18] lassoan commented on #787
Note that for assessing intra-user variability it would be useful if multiple segmentations for the same image for the same user could be stored.

[2022-05-16 15:38] diazandr3s commented on #787
Would you be available to chat sometime next week and see how we can address this? As @SachidanandAlle says, MONAI Label has the API to tag multiple annotations. Happy to organize a meeting.

[2022-05-16 21:06] dtruhn commented on #787
Thanks at all for continuously progressing MONAILable. I just want to confirm the assumption by @jlvahldiek that this would be a desirable feature for other groups as well: in my experience inter-user variability assessment is almost always demanded by reviewers in higher-ranking peer-reviewed journals.

[2022-05-17 03:37] adamaji commented on #787
For the record improved handling of multiple labels per image (inter and intra-user) would be useful for my group as well.

One downstream feature I could see might be providing more flexibility as to which set of labels to use while training, or to perform some sort of aggregate operation on images with multiple labels, because presumably you don't want to use conflicting annotations simultaneous

[2022-05-17 15:42] jlvahldiek commented on #787
We are very well available next week Monday or Friday. Thank you very much for organizing the meeting, @diazandr3s!

[2022-05-18 21:34] diazandr3s commented on #787
Superb! What about next week on Thursday at 17:00 CET?

@dtruhn, @adamaji please send me your email address to adiazpinto@nvidia.com so I can also add you to the meeting.

[2022-05-19 19:12] #439 closed

[2022-05-19 21:11] DrAkshaykumar opened #794 "XNAT OHIF viewer plugin for MONAI label"
Can you please create OHIF viewer plugin for XNAT.
The existing plugin uses Orthanc (DICOMWeb)

[2022-05-19 23:16] SachidanandAlle commented on #794
Duplicate for #223
Please refer the same for more details + tracking..

[2022-05-19 23:16] #794 closed

[2022-05-19 23:20] SachidanandAlle commented on #699
if you are looking for Nuclei kind.. then better try QuPath + Pathology example..

https://github.com/Project-MONAI/MONAILabel/tree/main/plugins/qupath
https://github.com/Project-MONAI/MONAILabel/tree/main/sample-apps/pathology

[2022-05-19 23:25] SachidanandAlle commented on #636
possibly some check can be added in ohif

[2022-05-19 23:40] SachidanandAlle commented on #604
closing this issue.. as several possible improvements (running post transform in gpu) were suggested above when running very large image + multi label

[2022-05-19 23:40] #604 closed

[2022-05-19 23:42] masadcv opened #795 "MONAILabel plugins command-line list/download path broken"
MONAILabel command line for installing plugins from pip package seems to have a broken path.

What I tried?
In a new virtualenv, I installed monailabel==0.4.0rc3 and tried accesing plugins through commandline
[code]

What I got?
I got error the following error message:
[code]

If I look through the folders, the plugins folder exist under `/mypath/venv/monailabel/plugins`

Expected output:
It shoul

[2022-05-19 23:54] SachidanandAlle commented on #795
If monailabel install path is not automatically determined, then you can provide explicit install path as: monailabel apps --prefix ~/.local

I guess it's not working for apps either..

[2022-05-19 23:57] masadcv commented on #795
Install path seems to exist and taken properly - but it is looking for the plugins under:
`./venv/scripts/monailabel`

where the path where this exists on disk is:
`./venv/monailabel`

Apps seem to be fine.

I believe the culprit could be this line:
https://github.com/Project-MONAI/MONAILabel/blob/58dc813db3f50d838a81804ee0a9635055802b92/monailabel/main.py#L210

[2022-05-20 12:43] pieper commented on #795
User experience and workaround reported here: https://discourse.slicer.org/t/how-to-start-with-monailabel-for-new-models/21063/31

[2022-05-20 14:15] #795 closed

[2022-05-20 18:18] DrAkshaykumar commented on #223
Hi.
We have xnat ml set up on aws. We were confused about deploying AIAA Or using monai label. Monai label looks more promising however needs more clarity about how data is trained which more straightforward in XNAT ML. We are more interested in inference tools. Can you please guide us how to deploy inference tool.

[2022-05-22 20:45] jlvahldiek commented on #787
@diazandr3s and @SachidanandAlle, unfortunately I will most likely not be able to attend the meeting next Thursday, sorry.

But I started PR #799 incorporating my ideas on this topic. I kindly ask for your pre-review.

[2022-05-23 12:22] DrAkshaykumar commented on #223
Currently we have xnat deployed on AWS. We don't have AIAA set up now.
That's why we were thinking how to go about which one to go with.

On Mon, 23 May, 2022, 1:10 pm Andres Diaz-Pinto, ***@***.***>
wrote:

[2022-05-23 15:54] diazandr3s commented on #582
I'm working with radiologists and another researcher (Paul Wright @pwrightkcl) to customise deepedit app for haemorrhage and ventricle segmentation (multilabel) on brain CT images. The idea is to get feedback from them after using MONAI Label. @pwrightkcl please keep me honest here? Is there anything else we should comment on here?

Specifically, this issue was opened for a slightly different purp

[2022-05-24 19:14] SachidanandAlle opened #803 "Add monitoring metrics based on prometheus"
https://prometheus.io/

X axis
- Track latency per request
- Track latency per model

Y axis
- Capture latencies for pre/post, infer, write
- Capture latencies for each transform

[2022-05-24 23:20] diazandr3s commented on #787
From @muratmaga

`There isn't anything in MONAI Label to stop a person hit the train button and starting retraining a model which might be an issue for a shared server (if multiple people do it).`

I agree with this. Multi-user support should also differentiate between only-inference users and expert/admin users that can trigger the training.

[2022-05-25 13:13] diazandr3s commented on #780
Thanks for your comments, @lassoan

Do you know what's the class or method to set slice fill and slicer outline visibility to 1 by default in the **_Segmentations_** module?

[2022-05-25 23:00] diazandr3s commented on #780
Thanks all for your comments.

@lassoan, [here](https://github.com/Project-MONAI/MONAILabel/blob/main/plugins/slicer/MONAILabel/MONAILabel.py#L654) we set the `vtkMRMLSegmentEditorNode` to Segment Editor Widget.

Is this what you mean? Please let me know

[2022-05-26 02:55] lassoan commented on #780
I've created a pull request that cleans up usage of segment editor widgets and segment editor nodes. It may fix problems related to segment editor nodes and widgets, because it avoids creation of many extra segment editor nodes and frequent switches between them.

https://github.com/Project-MONAI/MONAILabel/pull/806

[2022-05-26 19:01] diazandr3s commented on #780
I just tested and it's working. Many thanks for your help, @lassoan.

Closing this issue.

[2022-05-26 19:01] diazandr3s commented on #780
I just tested and it's working. Many thanks for your help, @lassoan.

Closing this issue.

[2022-05-26 19:01] #780 closed

[2022-05-26 20:37] diazandr3s commented on #787
Just wanted to add some meeting notes.  @jlvahldiek @keno @adamaji feel free to add/comment on this.

XNAT / MONAI Label integration is great. But the following features are thought for the Slicer + Local file archive configuration.

**Features:**

1/ A mechanism to manage multiple annotations for the same volume
2/ User authentication
3/ Allow **_expert user_** to modify/update annotations

- Thi

[2022-05-28 10:11] kbressem commented on #787
@diazandr3s Thank you very much for the summary.
If the expert user updates a segmentation, there should be the possibility to either overwrite the original segmentation or save the updated segmentation as separate file. This would allow later assessment of inter-rater agreement.

[2022-05-29 09:01] tvercaut commented on #787
Rather than overwriting previous maual segmentation, it might be nicer to keep all the versions with a flag to inform which version should be used for a given purpose. This leave the flexibility to use say either only the latest version or all available versions.

[2022-05-29 15:05] lassoan commented on #787
Instead of just a flag, a list of tags or key/value pairs could be associated with each segmentation. It could be used for all kinds of filtering and selection or store any additional metadata.

These extra metadata could be stored externally in some kind of database or additional metadata files, but may be useful to store in the segmentaiton file. The .seg.nrrd file format can store a list of arb

[2022-05-29 15:08] SachidanandAlle commented on #787
The server already supports storing multiple labels.. each label while saving can be tagged based on user choice..

[2022-05-29 16:37] kbressem commented on #787
I think it would be a good idea to store the tags directly in the segmentation file. If two files exist, there is always the possibility to "loose" one file, e.g., by renaming or moving the segmentation without updating the metadata file.

[2022-05-29 16:40] SachidanandAlle commented on #787
As I mentioned above.. server supports saving one label for each tag.. and you can as many as tags you want.. its more on client side logic how to make use of this and support different versions..

[2022-05-29 19:12] jlvahldiek commented on #787
First of all, many many thanks for the commitment and the great work on MONAILabel.

As @SachidanandAlle has already noted, these options are already available. In #799 I have implemented a corresponding draft.

User authentication with name and password would be great. Also user roles (e.g. annotator, expert annotator, admin) would be useful.

I agree that editability of annotations for expert us

[2022-05-30 13:23] SachidanandAlle commented on #657
https://docs.google.com/spreadsheets/d/1TeSOGzcTeeIThEvd_eflJNx0hhZiELNGBiYzwKyYEFg/edit?usp=sharing

[2022-05-30 22:33] #657 closed

[2022-06-02 22:21] #722 closed

[2022-06-07 20:50] guanjiahui opened #827 "Multi-GPU on DeepEdit UNETR network"
The Multi-GPU stops working for DeepEdit on UNETR network. Errors below

/opt/conda/lib/python3.8/multiprocessing/resource_tracker.py:216: UserWarning: resource_tracker: There appear to be 2 leaked semaphore objects to clean up at shutdown
  warnings.warn('resource_tracker: There appear to be %d '
[2022-05-13 15:51:37,994] [33828] [ThreadPoolExecutor-1_0] [INFO] (monailabel.utils.async_tasks.utils

[2022-06-07 20:51] SachidanandAlle commented on #827
which version of monailabel r u using? this problem is solved only in current main branch/latest release candidate version (0.4.x)

[2022-06-07 21:01] guanjiahui commented on #827
DynUNET works fine on both single and multi-GPU.
UNETR works fine on single GPU, but no multi-GPU.
Please let us know if multi-gpu on UNETR is solved/supported in the latest version

[2022-06-08 12:12] diazandr3s commented on #827
@guanjiahui could you please share the full log you get when running UNETR on multi GPU set-up?
I just rechecked and it works fine on my 2 GPU set-up. Attached 2-minutes video showing this.

[2022-06-09 22:02] #678 closed

[2022-06-14 13:52] nvahmadi opened #837 "cv2 import error in docker image projectmonai/monailabel:0.4.0"
**Describe the bug**
MONAI-Label Server cannot be executed in the current version of the monailabel docker container, because of an `opencv` import error.

**To Reproduce**
1. Run docker container, tag 0.4.0, e.g. via: `docker run -it --gpus all  --network=host projectmonai/monailabel:0.4.0 bash`
2. Run: `python -c "import cv2"`

**Error message**
This throws the following error message:
[code]
**

[2022-06-14 14:04] SachidanandAlle commented on #837
let me see why it's complaining `partially initialized module 'cv2'..
meanwhile have you tried with `monailabel:latest` (both should be same.. just built at different time)

[2022-06-14 14:10] nvahmadi commented on #837
Good idea, I tried, and the same error occurs with `monailabel:latest`. Thanks for looking into this!

[2022-06-14 14:16] SachidanandAlle commented on #837
[code]

[2022-06-14 15:44] nvahmadi commented on #837
One more note - I was using the monailabel container tagged as `0.4.0rc3` for a while and I had not problems with cv2 in there. Hope this helps in tracking down the breaking changes.

[2022-06-14 15:48] SachidanandAlle commented on #837
4.6.0.66 has some issue and conflicts with conda (not with regular python)
so the current solution is
- downgrade opencv-python-headless to previous 4.5.5.64 `pip install opencv-python-headless==4.5.5.64`

[2022-06-14 15:59] nvahmadi commented on #837
That was fast, thanks! I can fix that locally - how long will it roughly take until the fixed 0.4.0 image can be pulled from dockerhub?

[2022-06-14 16:01] SachidanandAlle commented on #837
Can you try again..
you can pull the latest image again..
`docker pull projectmonai/monailabel:0.4.0` or `latest`

I verified for latest tag.. it should work for 0.4.0 also

[2022-06-14 16:14] #837 closed

[2022-06-14 16:19] nvahmadi commented on #837
Works now, many thanks :)

[2022-06-15 09:54] pwrightkcl commented on #566
I need a way to view the full filename in Slicer without access to the logs. I will set up and run the server, but a clinician will label the images on a different PC, so using the server log is impractical for my use case (the clinician would need to note the time he loaded an image, and I would need to go back and track it down, which creates extra work and risk of error).

My images have necess

[2022-06-15 11:13] pwrightkcl commented on #566
I don't know how to do that, sorry.

[2022-06-15 12:02] diazandr3s commented on #566
Thanks for reporting this, @pwrightkcl.

I'm happy to show you how you can do what @SachidanandAlle suggested. It could be an opportunity to learn how to customise the MONAI Label Slicer module. Everything is written in Python :)

[code]

Here is an example of a flag in MONAI Label Slicer module: https://github.com/Project-MONAI/MONAILabel/blob/main/plugins/slicer/MONAILabel/MONAILabel.py#L154-L16

[2022-06-15 12:25] lassoan commented on #566
Combobox sizing is a surprisingly complicated topic. Having a long string in a comobox can mess up layouts. So, in general you cannot just let strings displayed without some kind of control over the displayed length.

One option is to shorten the strings, but I agree that it can be problematic, because you may want to store a lot of relevant information there.

Another option is to use eliding (re

[2022-06-15 20:50] lassoan commented on #566
There is a difference between the user loading a file from a folder where that data persistently stored; and loading a file from a temporary folder (for example a folder that stores temporary data that is downloaded from a server). The filename should be cleared or set to a random string if it is read from a temporary location. It looks like MONAILabel clears the filename (you can see that in Volu

[2022-06-15 22:26] SachidanandAlle commented on #566
I agree as @lassoan said..

for example, u might just need some copy action button (instead of displaying long name) somewhere in the `Tools` section of monailabel plugin..

may be you can explain your post actions.  there may be a simple ways to get it done

[2022-06-16 14:46] pwrightkcl commented on #566
This is my use case:

- I set up the MONAI label server, with its dataset, start it running, and give the URL to my clinician colleague.
- The clinician connects to the server using the MONAI label plugin in Slicer and works through the unlabelled images with the standard MONAI label flow:
  - "Next Sample" - MONAI label loads the next unlabelled image, chosen at random
  - Slicer displays the ima

[2022-06-16 15:53] lassoan commented on #566
Thank you, this description was very useful.

This is a very common need. I think in MONAILabelReview there is already support for adding notes to labeled images when they are uploaded to the server. Until it becomes available in MONAILabel, there are several quick workarounds.

Probably the easiest is the Data module. You can double-click on the node name and then hit Ctrl-C to copy it to the cli

[2022-06-16 17:36] lassoan commented on #566
I've pushed a change that makes the node name displayed with eliding the center:

https://github.com/Project-MONAI/MONAILabel/pull/841

Could you please check if it solves your problem? (just need to change a few lines in the MONAILabel module's .ui file)

[2022-06-17 10:14] pwrightkcl commented on #566
Thanks for this. I'd be happy to try it out. I haven't installed a Slicer plugin manually by pulling code from Gitlab before, but I expect there are instructions here.

I think that the following line would also need to change, because it truncates the node name at the moment the new image is loaded:
https://github.com/Project-MONAI/MONAILabel/blob/4fd1c64aed2f00383094d2b100593695daa45ca9/plugins/

[2022-06-17 14:35] lassoan commented on #566
You don't need to install the plugin manually, just install it as usual and modify the files locally as needed. If you reinstall MONAILabel today then you'll get the elided combobox, so you can just make your suggested modification to test if everything works well. After you have a solution that you tested and works well for you then please submit a pull request. Thank you!

[2022-06-17 16:53] pwrightkcl commented on #566
I tested out my proposed change and it didn't break anything. It did restore the usual elided node name in the slice view, same as for local loads.

![image](https://user-images.githubusercontent.com/32168177/174341868-54c3cbf2-a5b9-48f0-b792-2422e6484a19.png)

However, in the dropdown, the name appears full, at at least what is visible is not elided. I would look into this, but I don't know how t

[2022-06-17 23:17] rbumm commented on #447
\>> or add presets to the right-click menu in slice viewers.

For your information, this function is now available in SLicer 5

![](https://user-images.githubusercontent.com/18140094/174411706-d8250aad-cab9-441c-ab52-834c600df401.png)

[2022-06-17 23:26] rbumm commented on #447
We are segmenting many CT datasets from various sources and quality with MONAILabel. 

It seems, as if segmentation results could be better standardized and more precise if the datasets could somehow be batch normalized in respect of HU range or histogram for certain organs like lung or airways, I face the same problem when I segment data from the lung06 dataset with 3D Slicer´s extension "Lung CT

[2022-06-18 12:39] masadcv commented on #447
Hi @rbumm,

Many thanks for your question. Indeed, the HU intensity range is normalised for each volume in every MONAI Label app using [ScaleIntensityRanged](https://docs.monai.io/en/stable/transforms.html#scaleintensityranged) transform. However, the default setting for the included sample apps is targetting multiple organs in the abdomen. This default normalisation may not work well with CT Lung

[2022-06-18 16:48] rbumm commented on #447
Hi @masadcv , 

Thank you for the detailed answer.

My current approach is to load datasets in 3D Slicer within ML with the "Next sample" button, then label the CT lung dataset with my own extension (Lung CT Segmenter, a module of [Lung CT Analyzer](https://github.com/rbumm/SlicerLungCTAnalyzer)), and then "submit label" and train. Just to be able to create lung masks and airways with Monailabels

[2022-06-19 18:53] masadcv commented on #447
Hi @rbumm ,
This is quite interesting workflow. I believe, as you are doing all processing on Lung CT Segmenter, you only may need to normalise/clip intensity ranges in Lung CT Segmenter.

The monai label intensity normalisation approach is only needed if you use one of the server apps (including deepedit, autoseg and scribbles etc) to perform the annotation. As you are not using them, you wont ne

[2022-06-21 15:30] masadcv opened #844 "Improving scribbles fetch data function"
In the current implementation data from dictionary is fetched in scribbles flow using helper function from:
https://github.com/Project-MONAI/MONAILabel/blob/main/monailabel/scribbles/transforms.py#L42

While this has not caused any issues currently, the function is really returning a reference to the data object and hence may result in undesirable effects if the reference object is modified by cal

[2022-06-21 17:04] masadcv commented on #447
Another aspect to mention in context of this discussion is that the Histogram and Gaussian Mixture Model that are currently implement in MONAI Label may be too simple models for capturing large variations in lung regions, especially when segmenting lesions. We have developed a more sophisticated approach to address such problems in lung CT by using a CNN instead of these simple models. The code fo

[2022-06-21 19:26] rbumm commented on #447
This is a very good idea. Will try to normalize the intensities in Lung CT Segmenter and see how that goes. It is on the to-do list. 

It would be very interesting to enable MONALLabel to do segmentations within its own AI results: Example:  to find nodules in the right lung segment that it has auto segmented before.

[2022-06-22 11:31] shabirmoosa opened #846 "Error while running on Qupath"
Hi Team,

I receive the attached error after installing and using monai label plugin on Qupath. I was running nuclei_deepedit model on a selected rectangle ROI. I could also see the below error in the terminal

    axis = tuple([normalize_axis_index(ax, ndim, argname) for ax in axis])
numpy.AxisError: source: axis -1 is out of bounds for array of dimension 0

Im using the following versions
Ubuntu

[2022-06-22 11:38] diazandr3s commented on #846
Hi @shabirmoosa,

Thanks for creating this issue.
Have you started the MONAI Label server? There are two sides of this: the server and the user interface (UI). You've installed the UI but it seems the server isn't up.
Check [this video](https://drive.google.com/file/d/18I8Xtd4Yp40L5YInLTiIUO445DwJ4hJA/view?usp=sharing) to see how that should work.

Hope that helps.

[2022-06-22 13:46] shabirmoosa commented on #846
Thanks Andres for the reply. The server was up and and running. I also reinstalled the github version in a clean environment but unfortunately the same issue persists. Any thoughts on this?

[2022-06-22 20:34] guanjiahui commented on #827
Please find the full log attached.
[UNETR_multiGPU_full-error.txt](https://github.com/Project-MONAI/MONAILabel/files/8961103/UNETR_multiGPU_full-error.txt)

[2022-06-22 23:10] diazandr3s commented on #846
Thanks, @shabirmoosa
It's strange. Could you please share the command you've used to start the server and the full log?

[2022-06-23 00:05] SachidanandAlle commented on #846
u can share the server logs.. after you click the inference.. the snapshot has very little detail to understand what operation is done..

[2022-06-23 06:04] shabirmoosa commented on #846
Thanks @SachidanandAlle  and @diazandr3s .
Below is the commmand i use to run the monailabel server
**monailabel start_server --app apps/pathology --studies datasets --conf models all**

Along with the full apps logs, i have also attached the error message i see on the terminal of monailabel server and qupath for more information. Thanks in advance for looking into this.
[error_on_terminal_qupath.

[2022-06-23 10:39] diazandr3s commented on #846
Thanks, @shabirmoosa.
From what I can see, there are no samples in the datasets folder you used to start the server.
My suggestions are the following:

1/ Start the server without specifying the models - it is not needed

`monailabel start_server --app apps/pathology --studies datasets `

2/ Make sure the images you're loading in QuPath are in the folder you used to start the server "datasets".
Th

[2022-06-23 11:19] shabirmoosa commented on #846
@diazandr3s ..When you mentioned about the images not loading , i looked at the logs and  saw the supported file extensions in the configurations. I noticed that the files i had were in .tiff format. Changed them to .tif and wohooo it works !!!! Thanks for the help

[2022-06-23 14:10:40,014] [1318393] [MainThread] [INFO] (__main__:273) - ENV SETTINGS:: MONAI_LABEL_DATASTORE_FILE_EXT = '["*.nii.gz"

[2022-06-23 11:26] #846 closed

[2022-06-23 11:29] diazandr3s commented on #846
I'm glad to hear this, @shabirmoosa
Have you tried adding .tiff format [here](https://github.com/Project-MONAI/MONAILabel/blob/main/monailabel/config.py#L38)? It should work with that format as well once added.
You may be interested in reading more about the [digital pathology working group](https://github.com/Project-MONAI/MONAI/wiki/Pathology-Working-Group)
[Here](https://github.com/Project-MONA

[2022-06-23 23:26] #739 closed

[2022-06-24 03:26] qing-at-work opened #849 "monailabel script is unable to detect python v2 versions"
**Describe the bug**
When default python is version 2.x, the monailabel script doesn't correctly detect python v2 versions and fails to launch monailabel using python3.

**To Reproduce**
Steps to reproduce the behavior:
OS: ubuntu
1. Set default python to python version 2, e.g. `sudo update-alternatives --install /usr/bin/python python /usr/bin/python2.7 3`
2. Verify python version is set to v2, e

[2022-06-24 03:58] SachidanandAlle commented on #849
Monailabel only supports 3.6 and above..

https://docs.monai.io/projects/label/en/latest/installation.html#prerequisites

[2022-06-24 03:58] #849 closed

[2022-06-27 13:11] MathijsdeBoer opened #852 "Segmentation_[anatomy] model does not show up under Auto Segmentation header."
**Describe the bug**
When using a fairly straightforward non-interactive segmentation model, I expected to be able to provide a handful of manual segmentations, train the model, and simply run the auto segmentation to finish up the rest of my dataset.

However, I unfortunately can't select the model in the Auto Segmentation header.

I am using a custom implementation of the `segmentation_spleen.py

[2022-06-27 16:47] SachidanandAlle commented on #852
Try to refresh it.. or check 127.0.0.1:8000/info

It will be enable inference only when a pretrained/trained model exists..

[2022-06-28 07:51] MathijsdeBoer commented on #852
`127.0.0.1:8000/info` response:
[code]

Yes, I am aware where of the `path` to the model .pt file. I have a trained model.

(Note that while the description may state that it's a pre-trained model, I just Ctrl+F and replaced 'spleen' with 'skin', so it's a fresh model.)

[2022-06-28 10:27] SachidanandAlle commented on #852
Info says the model is available.. have you tried to restart slicer?

[2022-06-28 11:16] MathijsdeBoer commented on #852
Yeah, I've restarted it several times throughout the day.
As a random thought I had, I've gone back to an older slicer version I've got installed still (4.13.0-2022-04-24), the model does seem to show up there.

This probably indicates something is different between different Slicer versions?

[2022-06-28 13:36] SachidanandAlle commented on #852
Once u have model listed in /info/ then its mostly a client issue for not showing up in the list..
Have u tried using client plugin in dev mode

[2022-06-28 14:57] MathijsdeBoer commented on #852
I have not, however, both my Slicer 4.13.0 and 5.0.2 are running the same plugin that I directly pulled from this repo.
The only difference between the two is the slicer version.
When I enable dev mode, what would you want me to look for?

[2022-06-28 15:26] SachidanandAlle commented on #852
i mean.. configure your plugin in development mode (uninstall earlier one).. based on the main branch of github..
https://github.com/Project-MONAI/MONAILabel/tree/main/plugins/slicer#install-plugin-in-developer-mode

[2022-06-29 15:28] JHancox opened #854 "Ability to define region of interests for WSI annotations"
**Is your feature request related to a problem? Please describe.**
If you submit labels from QuPath, it looks as if the polygons of all defined nuclei are used, along with the original image. This may be okay for some use-cases but for many others it is important that you can specify the exact sub-region of the image that you want to use. The reasoning is as follows:
It is impractical to manually

[2022-06-30 07:26] MathijsdeBoer commented on #852
I did install directly from your main branch right from the start. Switching on developer mode changes nothing of note? It just adds some additional options.

[2022-06-30 08:34] diazandr3s commented on #852
Thanks for the detailed info, @MathijsdeBoer
Here is a [30-seconds video](https://drive.google.com/file/d/1ZkTNF9iQIDztIYDDm7ctlzG4bpwxs5TP/view?usp=sharing) showing how you can configure the plugin in dev mode
Also, please try using the Slicer Preview Release instead of the stable release.

![preview-release](https://user-images.githubusercontent.com/11991079/176631686-511ff1c0-caf6-482c-8696-a26

[2022-06-30 08:48] MathijsdeBoer commented on #852
Yup, that's how I had installed the plugin on my end. We had a little issue with our hospital's network temporarily blocking Slicer's extension server, so I just cloned your repo and installed from there.

I downloaded 5.1.0, installed the plugin directly from the current version of this repo and the model name is now visible in the Auto Segmentation section. However, whenever I try to get the nex

[2022-06-30 09:48] MathijsdeBoer commented on #852
Sure thing, this are the server logs up until I press the "Next Sample" Button in Slicer 5.1.0 and the error pops up:

[code]

[2022-06-30 11:02] diazandr3s commented on #852
This's a bit strange. I don't see any error in the logs.
I was wondering whether the spacing in the volume names creates issues when loading in Slicer. What do you think, @SachidanandAlle?

@MathijsdeBoer can you please start the server with a single image in a folder without spacing in the names? Just to discard that's not the issue.

Let us know.

[2022-06-30 11:32] lassoan commented on #852
Oh no, I've just noticed that as part of the DEI efforts, `master` volume has been renamed to `reference` volume. This would be OK, except we should have backward compatibility methods in place for several years to give time for extension developers to update. I'll fix the issue ASAP. In the meantime, the Slicer Stable Release should work.

[2022-06-30 11:35] diazandr3s commented on #852
Thanks for letting us know, @lassoan

[2022-06-30 11:55] MathijsdeBoer commented on #852
Do you still need me to run a server with a single patient without any spaces in the name?

[2022-07-01 09:05] dyollb opened #859 "Failed to fetch Sample from MONAI Label Server"
### Discussed in https://github.com/Project-MONAI/MONAILabel/discussions/858

<div type='discussions-op-text'>

<sup>Originally posted by **dyollb** July  1, 2022</sup>
I am trying MONAILabel for the first time.

## I put my images in following hierarchy (I have about 60 images, and 3 labeled images, single label):
[code]

## I installed
- slicer preview 5.1.0-2022-06-28, and MONAI plugin
- MONAIL

[2022-07-01 10:18] dyollb commented on #859
I see now that the error message is not in "MONAILabel.py" from my installation of MONAI, but instead from the Slicer installation... Mmmmh

[2022-07-01 10:35] diazandr3s commented on #859
Thanks for the detailed information, @dyollb.
If it is a single-label task, please change the label name [here](https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/configs/deepedit.py#L46-L55), if using deepedit, or [here](https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/configs/segmentation.py#L33-L47) if using segmentation model.
I also

[2022-07-01 11:23] MathijsdeBoer commented on #852
I mean, I can fall back to the 4.13 install I still have on my system, that one seems to work. I was just wondering if you needed more information to get your plugin to work on the 5.x versions.

[2022-07-01 11:57] dyollb commented on #859
@diazandr3s, @lassoan
- the error in MONAILabel.py says qMRMLSegmentEditorWidget has no attribute setMasterVolumeNode
- the error is from `C:\Users\lloyd\AppData\Local\NA-MIC\Slicer 5.1.0-2022-06-28\NA-MIC\Extensions-31073\MONAILabel\lib\Slicer-5.1\qt-scripted-modules\MONAILabel.py`
- why is it not using the MONAILabel.py I installed from the github repo via `git clone https://github.com/Project-M

[2022-07-01 13:17] jlvahldiek commented on #859
I can confirm this, today I encountered the same error with Slicer 5.1.0-2022-06-28. Downgrading to 5.0.2 temporarily solved the problem.

[2022-07-01 14:59] lassoan commented on #852
Slice 5.0.x should work, latest Slicer 5.1.x will work from tomorrow.

[2022-07-01 17:54] lassoan commented on #859
Sorry for the complications, it was a regression in Slicer Preview Release (Slicer-5.1.x) introduced a few days ago that we have fixed. MONAILabel will work well in Slicer-5.1.x releases downloaded tomorrow or later.

[2022-07-05 23:42] JuanMPinera opened #862 "Logging error"
I installed the weekly version and started the server, but when I try to connect from Slicer, it gives me the next error:

![image](https://user-images.githubusercontent.com/26545600/177433972-8d3adbc0-0067-4f71-8229-5d7d02e2d44b.png)

How can I solve this?
Thanks

[2022-07-05 23:54] SachidanandAlle commented on #862
i see this issue caused by conda env.. we will have a quick fix for this..

[2022-07-06 10:29] #862 closed

[2022-07-06 11:01] wyli opened #864 "unittests failfast=False?"
**Is your feature request related to a problem? Please describe.**
[code]
by default starts unit testing and exits on the first test failure.

would be great to have an option `failfast=False` to finish all tests and report all failed cases in a single run.

(or is there a command-line arg for this that I'm not aware of?)

[2022-07-06 21:29] SachidanandAlle commented on #864
i use `--exitfirst` flag..
using this flag by default for monailabel to save some time over-all.. also it's helpful to debug/check the logs for first failed test.. and in some cases, there is a dependency among tests (like tests like, create session, check, delete session)

https://github.com/Project-MONAI/MONAILabel/blob/main/runtests.sh#L419

yes, you can change the behavior of this flag based o

[2022-07-06 22:01] wyli commented on #864
thanks!

[2022-07-14 08:00] Ichiruchan opened #872 "Wrong result of spleen segmentation"
When i use OHIF Viewer with monai label. There is a problem that the result of auto spleen segmentation is not correct like this image.
<img width="1405" alt="企业微信截图_60325a8b-aaeb-4e74-9d83-13bac3efec87" src="https://user-images.githubusercontent.com/61850562/178929741-c7b71ab4-ed57-40a5-a75e-798828d6cb73.png">
 And with comparison of auto segmentation
<img width="1137" alt="企业微信截图_cf6662ed-a1dc-4

[2022-07-14 15:41] nvahmadi opened #874 "Caching of volumes to GPU during training of deepedit (radiology app)"
Currently, it is not possible to cache data to GPU during training of deepedit, to accelerate training as described in the [Fast Training Tutorial](https://github.com/Project-MONAI/tutorials/blob/main/acceleration/fast_training_tutorial.ipynb) from MONAI-Core.

This idea was already mentioned in PR #485, which already implemented other acceleration techniques (e.g. DiceCE Loss, Novograd optimizer,

[2022-07-15 02:20] Ichiruchan commented on #872
Actually, the second image above is the result of segmentation model. I tried it again and manually changed the segmentation's color of spleen part as blue-green to make it visible. Obviously, the result is correct. That's why i think maybe the spleen segmentation model has some problem.

<img width="1413" alt="企业微信截图_4a8c0950-6542-4bc8-8dfe-d8810ffb98cd" src="https://user-images.githubusercontent

[2022-07-15 13:36] diazandr3s commented on #872
Hi @Ichiruchan,

Thanks for the follow-up.

Sorry I missed this bit

As the segmentation model wasn't extensively trained on multiple datasets, it is possible you face these sorts of issues when inferencing on a dataset different to the Task 09 Spleen medical segmentation decathlon dataset.

I hope this makes sense.

[2022-07-15 13:41] diazandr3s commented on #872
As this is a model issue rather than a code issue, I'm closing this one.

Please reopen if there is something unclear. Thanks again!

[2022-07-15 13:41] #872 closed

[2022-07-18 14:08] tangy5 opened #878 "Integrate Bundle Support to MONAILABEL"
The feature request related to MONAI bundle use in MONAILLabel

Thanks for the patient discussion and demonstration with Nic @Nic-Ma and Sachi @SachidanandAlle . We will make a draft step by step plan for the requirements below and will make it clearer in future steps.

For the initial step, I will study the MONAILABEL and MONAI bundle code base, investigate the software design, logic, and other r

[2022-07-22 01:06] masadcv commented on #433
closing as this was address in #798 by @adamaji

[2022-07-22 01:06] #433 closed

[2022-07-26 16:14] ajayraj04 opened #895 "Scribble Functionality with OHIF is not working"
**Describe the bug**
While performing the scribble on CT Abd data. It is a CT image which is NIFTI to DICOM converted for the datasets from Task09_Spleen of MonaiLabel.

**To Reproduce**
Steps to reproduce the behavior:
Go to OHIF Viewer.
Select the CT study as mentioned above
Go Monai Extension
Select a spleen label.
Select scribble and choose Historgram+Graphcut and draw for boundaries.
Apply ru

[2022-07-26 16:23] SachidanandAlle commented on #895
@masadcv have you tried running scribbles over DICOM (converted to nifti images)

@ajayraj04 have you tried running other functions like basic segmentation on that image?  if basic segmentation works and only scribble doesn't, then possibly @masadcv can look into this.. otherwise I say it might have happened due to conversion errors (from DICOM to NIFTI)

as we know some DICOM files (due to some m

[2022-07-26 16:32] masadcv commented on #895
@SachidanandAlle

Me and @diazandr3s already communicated with @ajayraj04 over emails and asked him to add this as a ticket. It would be good to make sure that this is not coming from any conversion issues... On scribbles side, I suspect the following but need to run the apps to verify it on my end...

This may be a result of recent changes on multi-label scribbles (both in server and 3D slicer si

[2022-07-26 20:21] diazandr3s commented on #895
Thanks for opening this issue, @ajayraj04.

@SachidanandAlle, I've just tested the latest MONAI Label version + OHIF and the segmentation is working fine. I've also experienced the same issue when using scribbles as @ajayraj04 reported, though.

@masadcv thanks for your help with this.

[2022-07-27 03:05] tangy5 opened #897 "Add Integration test to MONAILABEL + MONAI Bundle Support App"
The request related to tests for MONAIBundle app in MONAILABEL.

Thanks for the discussion with @SachidanandAlle  and @Nic-Ma , the monaibundle app is released in 0.9.1 created by @SachidanandAlle . In the future work, we will continue maintain and develop features on the current monaibundle app.

With this issue, we will first add tests for the MONAILABEL+MONAIbundle app. Especially for inference

[2022-07-27 19:00] che85 commented on #852
We have been having these issues on Windows with MONAILabel, where our model does not show up in the Auto Segmentation dropdown. In the Active Learning dropdown, the model shows up.

@Amins3 Could you please confirm the 3D Slicer versions this is happening?

[2022-07-27 19:05] SachidanandAlle commented on #852
http://127.0.0.1:8000/info

Can you post the result for this..?  Have you loaded any image/volume into slicer? (it could be from Next Sample or Slicer File/Open)

[2022-07-27 19:30] Amins3 commented on #852
@sulentica @hannahdewey and I tried on the following versions of Slicer and ran into that issue:

1. Slicer Stable Release 5.0.2 on Windows and Mac
2. Slicer Stable Release 5.0.3 on Windows
3. Slicer Preview Release 5.1.0.2022-7-22 on Windows

It works on my Mac 3D Slicer 5.0.3.

[2022-07-27 19:30] che85 commented on #852
[code]

Loading a volume doesn't change anything.

[2022-07-28 04:09] SachidanandAlle commented on #874
You already have the option to cache the dataset.. And by default it is CachedDataset

Optimizers, Transforms etc.. can be defined in your train task definition..
https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/trainers/deepedit.py#L76-L80

Please connect with @diazandr3s (Andres) our core developer for DeepEdit to further optimize the performance of corresponding t

[2022-07-28 04:13] SachidanandAlle commented on #859
closing this for now.. please reopen if the issue still persists

[2022-07-28 04:13] #859 closed

[2022-07-28 04:19] SachidanandAlle commented on #827
are you still facing this problem.. i guess this is more of env issue.. as multiple users can run the training on multi-gpu
closing this issue for now.. feel free to reopen if the issue persists by providing more details/logs etc..

[2022-07-28 04:19] #827 closed

[2022-07-29 10:30] rbumm commented on #852
After having the same problem on my laptop (Auto segmentation -> model dropdown menu empty and "run" greyed out) I was able to solve the issue by:

- Removing 3D Slicer 5.0.2
- Installing 3D Slicer 5.0.3 stable
![image](https://user-images.githubusercontent.com/18140094/181740353-6a43723c-9263-4647-9145-1cb3989f1256.png)
- Starting 3D Slicer stable and installing the MonaiLabel extension
![image](

[2022-07-29 23:39] tangy5 opened #902 "Checkpoint loading: to support customized state_dict name key"
The current MONAILABEL loads all model checkpoint by the key "model", if any pre-trained model is not saved with name key "model", it will load failed.

We can add 'model_state_dict' as a parsing parameter for users so that MONAILABEL can load any checkpoint with any state_dict names.

[2022-07-30 00:00] SachidanandAlle commented on #902
You can pass that option when in config when you creat the instance for infer task..

https://github.com/Project-MONAI/MONAILabel/blob/main/monailabel/interfaces/tasks/infer.py#L67

And pass additional kwagrs while creating the object.. example..
https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/configs/segmentation.py#L80

[2022-07-30 00:12] tangy5 commented on #902
Cool.
Seems it's already flexible when creating the sample apps.
It would be great if we can add this to the bundle app in [BundleInferTask](https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/monaibundle/lib/infers/bundle.py)

[code]

[2022-07-30 00:49] #902 closed

[2022-08-01 14:13] tangy5 opened #905 "Documentation Improvement Plans"
**Description**
This ticket discusses the MONAILABEL documentation improvement plan. Please leave comment and suggestion on any part of the plan.

**1.  More Intro to MONAILABEL Architecture**
Explain MONAILABEL workflow in three parts: 1.MONAILABEl server. 2. Client-end Software (3D Slicer): none MIA experts are not familiar with these tools.  3. Plugins.
Demonstrate the relationship between the

[2022-08-02 13:54] che85 commented on #852
It would still be interesting to know what the reason for this issue is. Is there anything cashed by MONIA Label, that we could delete instead of reinstalling everything?

[2022-08-02 16:13] rbumm commented on #852
Agree, but it is difficult to find out. By installing 5.0.3 we have an empty extension "directory" and need to collect MonaiLabel (and other extensions) again from the extension manager. In that step, we probably get the latest MonaiLabel extension sources. It looks as if in the previous version (with the error that you and I saw) the list of available ML models was not correctly displayed by the

[2022-08-03 07:49] Nic-Ma commented on #905
Cool, when introducing the MONAI Label server, maybe introduce the `sample apps` as unique section in it.

Thanks.

[2022-08-04 14:07] masadcv opened #908 "Scribbles functionality seems to be broken after MetaTensor update"
**Describe the bug**
Running scribbles (Histogram+GraphCut), get the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow steps to setup and run radiology app
2. Add scribbles and update

**Expected behavior**
It should work without a problem.

**Additional context**
The scribbles methods expect `image` and `label` (providing scribbles).
When I look through the data

[2022-08-04 14:31] SachidanandAlle commented on #908
I tested the basic scribbles on 1-2 samples before release.. Is it not working at all?

[2022-08-04 16:40] SachidanandAlle opened #909 "Evaulate C++ Client developed by PAIR"

[2022-08-04 16:42] SachidanandAlle opened #910 "Develop/Integrate C++ Client library"
It could be from PAIR or can be new all together.
Objective is to develop C++ client that can be used in tools like PAIR, MITKWorkbench, ITK Snap etc.. to invoke MONAILabel APIs

[2022-08-04 16:44] SachidanandAlle opened #911 "Optimize and benchmark latencies for Infer and Scoring tasks"
Batch Scoring - to run Epistemic strategy as part of Active Learning
Inference over N number of samples (Video)

[2022-08-04 16:46] SachidanandAlle opened #912 "Interactor - Deepgrow/DeepEdit for CVAT"
Train a basic model and add detector for CVAT to run deepgrow model as interactor

[2022-08-04 16:47] SachidanandAlle opened #913 "Tool Detection Model"
Integrate Tool Detection Model as part of Endoscopy app and show-case the same in CVAT

[2022-08-04 16:49] SachidanandAlle opened #914 "Develop the active learning workflow"
- [x] start with N images (for example total 1000 unlabeled images)
- [x] monailabel helps to pick say 50 out of it (based on active learning - epistemic scoring)
- [x] monailabel pushes and creates a project + task for annotation (e.g. MONAILABEL => Iteration1)
- [x] user annotates and completes the task
- [x] monailabel picks up those new samples and fine tunes the existing model(s)
- [x] monail

[2022-08-04 17:51] masadcv commented on #908
Not working on my side (I test on spleen data using Histogram+GraphCut), perhaps it hits a specific corner case...
I will look into this and have a fix soon.

[2022-08-05 06:01] tangy5 opened #918 "MONAILABEL Radiology app DeepGrow Bug compatible with MetaTensor-EnsureChannelFirstd"
**Describe the bug**
After transformation for pre-processing.
The image and label data shapes are different. This is potentially due to the use of

[code]
Replace AddChanneld to EnsureChannelFirstd

[2022-08-05 06:03] #878 closed

[2022-08-06 05:51] tangy5 opened #921 "NormalizeLabelsInDatasetd to lost Meta Information"
**Describe the bug**
During handling a discussion problem with a user, I found the transformation **NormalizeLabelsInDatasetd** in deepedit has some issues to be compatible with MetaTensor. It seems the meta information after **NormalizeLabelsInDatasetd** will be lost.

Version: latest MONAI and MONAILABEL release.

**To Reproduce**
[code]
**Behavior**

`isinstance(img, MetaTensor)` will be True,

[2022-08-07 22:36] diazandr3s commented on #921
Thanks for creating this issue, @tangy5

I guess the problem is because this transform changes the label MetaTensor by a numpy array here: https://github.com/Project-MONAI/MONAI/blob/dev/monai/apps/deepedit/transforms.py#L104

[2022-08-08 04:19] tangy5 commented on #921
Cool, will we have a plan to check this issue or create a fixing PR?
Thank you!

[2022-08-08 14:08] diazandr3s commented on #921
Yes, I'll propose a PR for this later today :)

[2022-08-08 14:51] drbeh opened #1009 "Enable HoVerNet in MONAI Label"

[2022-08-10 14:38] #921 closed

[2022-08-12 11:59] nvahmadi opened #930 "Cupy error during inference when starting docker container as non-root"
**Describe the bug**
When running monailabel docker container as non-root, inference of segmentation model throws an error (deepedit inference works fine though).

**To Reproduce**
Steps to reproduce the behavior:
1. Run docker container (e.g. `projectmonai/monailabel:0.4.2`) as non-root (e.g. with parameter `--user $(id -u):$(id -g)`).
2. Run default `radiology` app with all models, on any abdomi

[2022-08-12 13:07] SachidanandAlle commented on #930
Is this problem also exists for latest tag?

[2022-08-12 13:23] SachidanandAlle commented on #930
Error is weird.. may be manually update or install cupy package to unblock for now...  wondering why its trying to compile.. also we run basic infer tests before we publish rhe docker.. wondering any issues with specific system here..

[2022-08-12 13:31] Nic-Ma commented on #930
Hi @SachidanandAlle ,

I tried to reproduce the issue with MONAI docker in non-root user and seems I can use cupy:
[code]

Thanks.

[2022-08-12 13:39] SachidanandAlle commented on #930
@Nic-Ma u can try to run get_largest_connected_component_mask

And as non root user..

[2022-08-12 14:03] diazandr3s commented on #930
It is working perfectly fine with root user

[2022-08-12 15:24] nvahmadi commented on #930
@SachidanandAlle - " wondering any issues with specific system here.."
The system is a DGX Station V100 32GB with the latest DGX OS.
And yes, I can confirm that it works perfectly fine when starting the docker container with root user. I am not blocked at all, it was a coincidental finding, thought I'd report it here in case someone else has this issue - workaround is easy, just run container as r

[2022-08-12 16:39] SachidanandAlle commented on #930
I think hone path is not correctly set for the non root user.. so its trying to access /.cupy

[2022-08-15 14:36] SachidanandAlle commented on #930
@nvahmadi were you able to check if home path for your non-root user is correctly set?

[2022-08-16 19:18] #895 closed

[2022-08-17 08:28] zmsunnyday commented on #905
Great plan. Do we also plan to add docs of MONAILabel restful APIs? It will be very helpful for developers who want to develop a MONAILabel plugin. Although we have a page for APIs, it doesn't show all the information that can be carried in requests. And sometimes developers have to learn how to use them by trial and error.

Thanks.

[2022-08-17 16:10] #914 closed

[2022-08-17 17:27] diazandr3s commented on #905
Thanks, @zmsunnyday  - this is a good point.
In the meantime, you could use this way to check the request nature via the browser. Please see this video:

https://user-images.githubusercontent.com/11991079/185203704-14f8c542-c5da-4b1c-ac0f-8c550bbe7ab8.mp4

[2022-08-17 18:16] #912 closed

[2022-08-17 18:19] SachidanandAlle commented on #908
Are we good now.. I guess you have fixed for both 3D Slicer and OHIF usecases.. if all good then we can close this issue

[2022-08-17 19:40] masadcv commented on #908
Yes, all good. I might need to revisit OHIF in a few days to improve the scribbles implementation.

I am closing this now as this is fixed.

[2022-08-17 19:40] #908 closed

[2022-08-17 21:38] tangy5 commented on #905
Thanks, this is a great point. Will discuss this in the following plan.

[2022-08-23 12:51] jlvahldiek opened #944 "Possible caching problem of DICOMWebDatastore"
Using Orthanc as a DICOMWeb Datastore in MONAILabel is a great opportunity for my team because we do not have to convert our raw DICOMs to get them into MONAILabel.

Unfortunately, there seems to be a caching problem in the DICOMWebDatastore. The number of (finished) labeled images does not get updated immediately after a label was successfully saved (tried using 3D Slicer and OHIF). This leads to

[2022-08-23 13:32] jlvahldiek opened #945 "DICOMWebDatastore limited to modality "CT""
The modality that DICOMWebDatastore is searching for is hardcoded and limited to "CT":
https://github.com/Project-MONAI/MONAILabel/blob/48441c3353cd7940a1b9e7e0d5fc06b1b2a9a4c9/monailabel/datastore/dicom.py#L43

It would be very useful for my team to use DICOMWebDatastore with other modalities (MR, CR, etc.).

What do you think is the best way to make the modality customizable by the user? Maybe i

[2022-08-23 14:38] SachidanandAlle commented on #945
Yes.. this was done long back.. but some improvements in xnat based.. we don't need conversations from dicom to nifti.. dicom data store can be improved..

[2022-08-26 07:26] #945 closed

[2022-08-26 07:26] #944 closed

[2022-08-26 17:37] che85 commented on #852
It seems that I found the reason for this happening in our case:

We implemented https://github.com/JolleyLab/DeepHeart which is a SegmentEditorEffect using UI components of MONAILabel (same names) in a new .ui file.

If `DeepHeart` is not added to Slicer, there are no issues with MONAILabel UI.

The following lines are causing the problem.

https://github.com/Project-MONAI/MONAILabel/blob/2029f05

[2022-08-27 23:54] lassoan commented on #852
I agree. Would you mind submitting a pull request with a proposed change (somewhere around [here](https://github.com/Slicer/Slicer/blob/866fe39a05185daf32369ac3bd6b56024c19c97a/Base/Python/slicer/util.py#L373)). You could test it right away if it can detect the name clash in your use case.

[2022-08-29 04:24] #918 closed

[2022-08-29 11:43] Nic-Ma commented on #897
@SachidanandAlle I think we can close this ticket now?

Thanks.

[2022-08-30 08:05] Nic-Ma commented on #913
What's the "tool detection" model here?
Do you mean the "tool tracking" segmentation model?

Thanks

[2022-08-30 14:41] SachidanandAlle commented on #913
You can change the title.. this was created for the DeID classification model

[2022-08-31 07:33] lukasvdstricht opened #958 ""Failed to post process label on MONAI Label Server using Histogram+GraphCut" error when updating scribbles"
Hi

We are exploring the MONAILabel extension in Slicer 5.0.3 and stumbled upon a problem. We got through the installation and were able to make a connection between the MONAILabel server on the local host and the Slicer application.
To explore the functionality of the plug-in, we first decided to work a bit with the exemplary server from the MONAILabel documentation:
`monailabel start_server --ap

[2022-08-31 16:49] nvahmadi commented on #930
Hi @SachidanandAlle - you are fully right. The MONAI docker images are not built with user profiles, and the way I mounted the container was too careless to set the profile inside the container correctly (only enough to have file ownership set correctly on the host system). Therefore, the home directory of my user did not exist, which led to the cupy error.

For reference, I am posting a solution

[2022-08-31 16:49] #930 closed

[2022-08-31 18:32] SachidanandAlle commented on #958
@masadcv can you please check on this..

[2022-09-01 00:29] diazandr3s commented on #958
Hi @lukasvdstricht,

Thanks for opening this issue.
I've tested version 0.4.2 and I've experienced the same issue as @MrMarkusJ did: https://github.com/Project-MONAI/MONAILabel/discussions/957#discussioncomment-3516907

We'll fix this ASAP.

In the meantime, I suggest you use version 0.4.1 (`pip install monailabel==0.4.1`) - I've tested and it's working fine.

[2022-09-01 05:12] tangy5 opened #963 "Endoscopy - CVAT Integration - Add feature for publishing new model back to CVAT"
The endoscopy app and CVAT integration development is merged for the first version by Sachi and Andres.

The issue is for continuous development of the Endoscopy-CVAT integration.

- [x] Currently, the actively trained model in MONAI Label is not publishing back to CVAT. It will continue using pre-trained models. This ticket includes the work on automating the process for transporting fine-tuned m

[2022-09-01 07:37] lukasvdstricht commented on #958
Hi @diazandr3s

Thank you! Downgrading MONAILabel to version 0.4.1 indeed does the trick.

Kind regards

Lukas

[2022-09-01 09:18] masadcv commented on #958
Hi @SachidanandAlle, @diazandr3s and @lukasvdstricht

This is related to the fix I had for MetaTensor (https://github.com/Project-MONAI/MONAILabel/pull/915)
Can you try again with latest from main and let me know if the problem still persists?

@SachidanandAlle , we may want to release a version of MONAI Label with this fix to avoid any similar issues for others

[2022-09-01 09:24] masadcv commented on #958
Duplicate of https://github.com/Project-MONAI/MONAILabel/issues/908

[2022-09-06 07:14] lukasvdstricht opened #968 "DeepEdit Error(s) in loading state_dict for DynUNet:"
Hi everyone

I am trying to use DeepEdit to obtain automatic segmentations of lungs on MRI images.
The dataset that I am using can be found here: [Zenodo Covid-19](https://zenodo.org/record/3757476#.Yxbv6nZBy3A) (the COVID-19-CT-Seg_20cases.zip download).
I have already segmented 8 images, using Slicer's _Grow from seeds_ functionality. I have trained a segmentation model on this and everything se

[2022-09-06 08:18] diazandr3s commented on #968
Hi @lukasvdstricht,

Thanks for opening this issue and attaching the logs.
It seems you're trying to retrain a model instead of starting from scratch. This error is because the pretrained model doesn't have the same number of labels as the ones you defined.
Once you changed the number of labels, you should also set [this argument](https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/r

[2022-09-06 09:22] lukasvdstricht commented on #968
Thank you very much!

This now seems to be solved and the training is working fine!

[2022-09-06 09:34] masadcv commented on #958
Closing this in favor of #908 which has already been addressed. Please reopen if you see this is not resolved with latest main.

[2022-09-06 09:34] #958 closed

[2022-09-06 09:59] diazandr3s commented on #968
Thanks for letting us know.

Closing this issue.

[2022-09-06 09:59] #968 closed

[2022-09-06 15:50] SachidanandAlle opened #971 "0.5 release activities"
- [x] Upgrade dependency
- [x] Unit Test and Integration pass
- [x] Verify Radiology App for all models (infer, train on single/multi-gpu)
- [x] Verify Pathology App for all models (infer, train on single/multi-gpu)
- [x] Verify Endscopy App for all models (infer, train on single/multi-gpu)
- [x] Verify Bundle App for all models (infer, train on single/multi-gpu)
- [x] Verify client 3D Slicer
- [x

[2022-09-06 15:56] #844 closed

[2022-09-07 03:28] tangy5 opened #973 "Update Readme.md based on Latest MONAI Label Documentation"
To update the readme.md according to the latest changes on documentation improvement.

- [x] Add latest installation and introduction figure to be consistent with MONAI Label Doc Page.
- [x] Update "how to use" and plugin guide based on latest changes.

[2022-09-07 16:38] SachidanandAlle opened #977 "Improve Unit Test coverage (on GPU) from 60% to 70%"
Currently it's 60% on GPU.  Need to move the need back to 70%

[2022-09-08 07:09] SachidanandAlle commented on #971
First step: https://github.com/Project-MONAI/MONAILabel/pull/979

[2022-09-09 01:53] SachidanandAlle commented on #971
Depends on: https://github.com/Project-MONAI/MONAILabel/pull/981

[2022-09-09 02:11] SachidanandAlle commented on #971
Verified Radiology App for all models (infer, train on single/multi-gpu) - done for segmentation, segmentation_spleen, deepgrow 2d+3d+pipeline(infer), deepedit models

Verified vertebra for infer only @diazandr3s please verify once again.. and may be train if that's applicable.

[2022-09-09 22:00] SachidanandAlle commented on #971
Upgrade to rc2: https://github.com/Project-MONAI/MONAILabel/pull/983

[2022-09-10 18:08] #973 closed

[2022-09-10 18:24] tangy5 commented on #971
Bundle app Verfications:

monai version == 1.0.0rc2

- [ ] Download the monaibundel app and all model-zoo models.
Verification of current Model-Zoo models
- [ ] Train/Inference 1: [spleen_ct_segmentation] 2: [swin_unetr_btcv_segmentation]
- [ ] Inference: 1: [renalStructures_UNEST_segmentation] 2: [wholeBrainSeg_Large_UNEST_segmentation]
- [ ] Train/Inference 1: [brats_mri_segmentation] 2: [mednis

[2022-09-10 23:20] tangy5 commented on #971
Endoscopy app Verfications:

monai version == 1.0.0rc2

- [ ] Verified CVAT setup, nuclio container deploy.
- [ ] Verified ToolTracking model, inference with CVAT-Nuclio function container, training with MONAI Label. Push MONAI Label fine-tuned model back to Nuclio function container for updating inference model.
- [ ] Verified Deid for tool section, infer with CVAT-Nuclio function container, trai

[2022-09-10 23:26] tangy5 commented on #971
Clients Verification:
monai version == 1.0.0rc2
monailabel latest

- [ ] **3D Slicer**
- [ ] **OHIF**
- [ ] **QuPath**
- [ ] **DSA**

[2022-09-13 01:15] SachidanandAlle commented on #971
Lets try to update/add items in the main description.. so that things can be checked/tracked easily..

[2022-09-13 05:18] SachidanandAlle commented on #913
https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/endoscopy/lib/configs/deid.py
Done!

[2022-09-13 05:18] #913 closed

[2022-09-13 06:01] SachidanandAlle commented on #911
Input Image size: (1920, 1080, 3)
- Total e2e Latency = 180 ms
- Pre Transform Latency = 60 ms (30 ms for Load; 20 ms for resize)
- Infer Latency = 40 ms
- Post Transform = 80 ms (80 ms for Find Contour)

[2022-09-13 06:03] SachidanandAlle commented on #911
Added support to run Epistemic scoring on multi-gpu with multi-threads..

[2022-09-13 06:03] #911 closed

[2022-09-13 06:11] #905 closed

[2022-09-13 15:19] tangy5 opened #992 "Add Instruction for Supported Models from Model-Zoo Bundle APP Readme"
Make clear instructions to Readme for

Add a list for not typical segmentation/classification tasks.

To update Bundle APP readme and keep updating which bundle models are released in Model-Zoo with those appropriate to be used with MONAI Label bundle app.

[2022-09-13 19:15] #992 closed

[2022-09-13 19:29] #963 closed

[2022-09-14 02:10] diazandr3s commented on #971
Please check https://github.com/Project-MONAI/MONAILabel/pull/996

[2022-09-14 04:51] tangy5 commented on #971
Pathology APP Verification:

Setup QuPath and MONAI Label Pathology app.
I tested Infer/train, with actual Qupath integration and via integration test.
There is an issue that cause all run failed.
All pre-transformation with             **AsChannelFirstd(keys="image")**   are failed.

Looking into the Deepedit_nuclie or other inferers script, the
Replaced to             **EnsureChannelFirstd(keys=

[2022-09-16 19:54] #971 closed

[2022-09-19 03:19] tangy5 opened #1002 "Video Annotation with MONAI Label - CVAT support"
Current endoscopy app annotation works with frame, the scoring method recommends 2D images for task. This issue discusses the integration of video annotation with current tooltracking and deid models.

Endoscopy APP Video Annotation logic:
1.	MONAI Label starts studies with endoscopy videos, avi, mp4 format.
2.	The MONAI Label server solves video frames as input and predict scores for each frame.

[2022-09-19 12:18] rcremese opened #1005 "[8263] [MainThread] [ERROR] (uvicorn.error:56) - Application startup failed. Exiting."
**Describe the bug**
HTTP Error 404 : Not Found raised by the urllib when trying to download the swin_unetr_btcv_segmentation_v0.1.0 model bundle with the monaibundle app as presented in the Quickstart Tutorial 2 -  Bundle App Tutorial and Use Cases.

**To Reproduce**
Follow the Quickstart Tutorial 2 - Use Case 1 (https://docs.monai.io/projects/label/en/latest/quickstart.html#tutorial-2-bundle-app

[2022-09-19 14:05] tangy5 commented on #1005
@rcremese , the MONAI Label need to first download the Model-Zoo bundle model first, I saw the error log, the automatic download seems failed. As @diazandr3s mentioned, could you try download from the link above. Save , unzip the model to  And start MONAI Laberl server with the downloade bundle. Thanks for using Bundle App in the MONAI label.

[2022-09-19 15:19] rcremese commented on #1005
Hello !
Thanks for your kick reply. My current version of monailabel is v0.4.2 so I forgot to update it before trying the monaibundle.
@tangy5  I tried to download and unzip the swin_unetr_btcv_segmentation_v0.1.0.zip bundle into the model folder of the monaibundle app but this didn't overide the download procedure

[2022-09-19 15:25] tangy5 commented on #1005
Let me dig into this, and get reply to you once I figure out, thank you.

[2022-09-19 15:26] tangy5 commented on #1005
Let me dig into this, and get reply to you once I figure out, thank you.

[2022-09-19 15:30] rcremese commented on #1005
Ok 👍
I updated my monailabel version to v0.5 but still have the same problem where the script fetches the model at the wrong adress :
2022-09-19 17:10:00,965 - ERROR - Download failed from https://github.com/Project-MONAI/model-zoo/releases/download/ll/swin_unetr_btcv_segmentation_v0.1.0.zip to /tmp/tmpok6ca95y/swin_unetr_btcv_segmentation_v0.1.0.zip

I can join my current conda environnement if n

[2022-09-19 16:30] tangy5 commented on #1005
[code]

[2022-09-19 16:35] rcremese commented on #1005
Ok, I see, I just realised how dumb I am 😓
I probly changed this variable when looking at the main.py file and didn't even realised ! Sorry for bothering you. Everything works fine now !

[2022-09-19 16:38] tangy5 commented on #1005
No problem, thank you for using MONAI label and the bundle app, the Bundle App is a new feature added recently. Let us know if you have any questions or feedback. We'd appreciated all suggestions and user experience comment!

[2022-09-19 16:40] rcremese commented on #1005
I will try to give you feedback ! I'm super excited to try it out. By the way, thank you for the great work

[2022-09-20 13:52] rcremese opened #1010 ""Failed to save Label to MONAI Label Server" slicer plugin error"
**Describe the bug**
When trying to save a segmentation made with the radiology app on Slicer, the following error is raised by the plugin : "Failed to save Label to MONAI Label Server" while the file is actually saved on the server. When looking at the logs on the server side, the error comes from the uvicorn package.

Specificity of my setup : MONAI Label server runs on a "Ubuntu 18.04.6 LTS" ma

[2022-09-20 15:08] rcremese commented on #1010
Hi @tangy5,
I checked all my rights on folders I want to write on and user as group have read and right access to the folder.
I did a little test on my side and realised I have a problem with my mounted volume configuration to copy files via python script. I should have tested it before writting this issue and I will try to figure this out by myself.
Nevertheless, even if the "submit label" raised

[2022-09-20 15:08] #1010 closed

[2022-09-24 10:30] manigalati opened #1014 "Bug in function download_label"
Hello! :)
I ran into the following bug while working with the plugin of monailabel in slicer.

**Describe the bug**
The application always fails at loading original labels, with the following message appearing in the log:
"Original label not found ... "

**To Reproduce**
After running batch inference of any model, original labels are created inside the server. When trying to fetch the next sample

[2022-09-25 07:09] amitjc opened #1015 "Inability to train model on monailabel"
Dear Experts,

Greetings from Mumbai, India.

At the outset thank you for the open source application for image annotation and segmentation.

I attempted segmentation model training on monailabel server deployed on WSL, however, training failed. Please find the entire log below for perusal and inputs:

[code]
RTX 3090 pytorch incompatibility error was returned; however,
[code]
reveals
[code]

Mona

[2022-09-26 02:51] tangy5 commented on #1015
Hi @amitjc , thanks for reporting issues. the logs show "torch.cuda.is_available() is False",There should be errors related to GPU and/or GPU driver.

Could you try simply printing "torch.cuda.is_available()" or nvidia-smi on the machine after import torch, to confirm GPU driver is installed and torch, cuda are working? If the problem still exists, we can dig into the issue.

Thank you for using M

[2022-09-26 15:28] amitjc commented on #1015
Thanks @tangy5 for your prompt response.

So, based on your suggestion, I reinstalled nightly release of pytorch in monailabel-env in powershell with following response:
[code]

However, training fails, despite appropriate (I presume) cuda deployment.

Please find the log below:
[code]

Please guide further.

Best Regards,
Amit.

[2022-09-26 22:55] diazandr3s commented on #1015
Hi @amitjc

Thanks for opening this discussion.

Missing Train and Stop buttons in the MONAI Label module is a bit strange. I'd suggest using another Slicer version while this is solved in the version you're using. Can you try with the Preview Release?

For the records, can you please post a print screen of ther MONAI Label with those missing buttons?

Regarding the error you're getting:

I solved

[2022-09-26 23:21] diazandr3s commented on #1014
Hi @manigalati

Thanks for raising this issue.

By default, MONAI Label searches in the labels/original folder for the predicted label for the current volume (https://github.com/Project-MONAI/MONAILabel/blob/main/plugins/slicer/MONAILabel/MONAILabel.py#L1234-L1245). If it doesn't exist, it will show that warning.

See the following image the flag `Original Labels` is activated.

![Screenshot from

[2022-09-27 02:22] lassoan commented on #1015
Yes, please, take a screenshot of the whole application window (including the version number at the top).

If you open the Python console (Ctrl-3) do you see error or warning messages?

[2022-09-27 19:03] amitjc commented on #1015
Thanks @diazandr3s, Docker Version works fine.

@lassoan Train button now visible.

Training Completes for all the 50 epochs, however, the accuracy bar reflects 0% progress.
Please guide.

Also look forward to further inputs to have monailabel and training, running successfully, in powershell and WSL without Docker.

Thanks again.

Best Regards,
Amit.

[2022-09-27 19:10] diazandr3s commented on #1015
Thanks for the update, @amitjc.

You may need to train for more epochs and/or try different intensity transformations during training https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/trainers/segmentation.py#L82

You may find this useful:https://projectweek.na-mic.org/PW37_2022_Virtual/Projects/MONAILabelLung/MONAILabel_Installation.html

We recommend using Docker it

[2022-09-28 07:20] amitjc commented on #1015
Thanks @diazandr3s

how to increase the no. Of epochs in segmentation and segmentation_spleen?

[2022-09-28 08:52] SachidanandAlle commented on #1015
If you are using slicer.. enable developer model under Edit => Application Settings => Monai Label
![image](https://user-images.githubusercontent.com/7339051/192734811-fd146ef4-b50c-470c-b7dc-aa5352ea5237.png)

After that you can see config options (which includes epochs for training...) you can change and trigger training (NOTE these are not persistent due to design limitations.. when you refresh

[2022-09-28 13:07] r00tdotexe commented on #1015
Hello, I am facing some similar issues. I attached the logfile: [app.log](https://github.com/Project-MONAI/MONAILabel/files/9665183/app.log)

Running on Ubuntu 18.04.6 LTS.

CUDA availability:

(monaienv) apoqlar@apoqlar-NUC:~$ python
Python 3.8.13 (default, Mar 28 2022, 11:38:47)
[GCC 7.5.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.
`

True

[2022-09-28 14:19] amitjc commented on #1015
Thanks @SachidanandAlle , very helpful tip.

@r00tdotexe, Docker deployment was the better solution for me, since I couldn't get optimal results with non-docker installation.

Monai team members can chime in with further recommendations.

Best Regards,
Amit.

[2022-09-28 15:11] diazandr3s commented on #1015
Thanks, @amitjc

@r00tdotexe we'd suggest using Docker. The MONAI Label Docker container has full features and it is easy to use.

[2022-09-29 10:21] r00tdotexe commented on #1015
Hey @diazandr3s

thanks for the tip. I installed it, but now, I cannot access the DICOM series within slicer. When i run the docker image, I am accessing to

root@apoqlar-NUC:/opt/monai#

When I run

monailabel start_server --app apps/radiology --studies /home/apoqlar/Documents/HOLORTHO/trn  --conf models segmentation

the server starts and I can connect to it in slicer, but it won't load my serie

[2022-09-29 11:16] diazandr3s commented on #1015
Hi @r00tdotexe,

Currently, there are 2 study management systems in MONAI Label:

1/ the local file archive and

2/ a DICOM Web server.

When using the local file archive, images should be in NIfTI or NRRD format and when using the DICOM Web server images should be in DICOM format. If this is the command you're running:

This means you're using the local file archive, so it won't work on DICOM ima

[2022-09-29 13:42] r00tdotexe commented on #1015
Hi @diazandr3s ,

the problem is not about using dicom or niftii. Rather, it is a problem with docker itself. When I run the monailabel image, it will only accessible within root user ... somehow, I cannot work on the studies with slicer, since it is not on root. But I will figure it out.

Right now, I am running training on my windows machine. For now, it works good :)

Thanks,
Bjørn

[2022-09-29 13:55] diazandr3s commented on #1015
Hi @r00tdotexe,

ooh sorry, I misunderstood. I guess what you need is to mount a folder in the Docker container: https://www.howtogeek.com/devops/how-to-mount-a-host-directory-into-a-docker-container/

Good question. The answer is yes, it'll use all the labels available in the labels/final folder. By default 20% of those labels will be used for validation. You can change this percentage in the [Op

[2022-09-30 04:18] SachidanandAlle commented on #1014
@tangy5 can you please check.. may be it needs something to be fixed on 3D slicer side..

[2022-09-30 04:19] tangy5 commented on #1014
Good, I will look into this.

[2022-09-30 11:26] diazandr3s commented on #1014
I'm sorry, I've completely missed part of the text here:

This means this we shouldn't use the .read method [here](https://github.com/Project-MONAI/MONAILabel/blob/main/plugins/slicer/MONAILabel/MONAILabelLib/client.py#L357) or [here](https://github.com/Project-MONAI/MONAILabel/blob/main/plugins/slicer/MONAILabel/MONAILabelLib/client.py#L354)?

[2022-09-30 16:28] SachidanandAlle opened #1030 "Enable Epistemic scoring/strategy for monaibundle app"
Currently it's limited to run infer and train.

However for epistemic it can take existing network definition and add dropout and use the same for initializing/enabling epistemic scoring.   However the scoring can be disabled by default similar to other app (you can refer Radiology or Endoscopy app for further reference)

[2022-10-01 00:03] tangy5 commented on #1014
Hi @manigalati @diazandr3s , investigation from my side, the issue do exists. And @manigalati 's point is correct, the response.getheader() is not working after response.read().

I've created a solution here: https://github.com/Project-MONAI/MONAILabel/pull/1031
To return and pass response.getheader(content_disposition) in the send_response.

I tested with a spleen segmentation task, it works norm

[2022-10-02 13:19] amitjc commented on #1015
#698
Dear experts,

Triggered similar error while runing monailabel on docker.  To elaborate, training could be performed seamlessly on Liver model so far, however, invoking model training, lately, triggers above error. Please find the [Log](https://github.com/Project-MONAI/MONAILabel/files/9692649/monailabel_cuda_error.txt), for perusal and inputs.

Best Regards,
Amit.

[2022-10-03 07:14] SachidanandAlle commented on #1015
It seems a data issue.. either label is empty or something similar..

Otherwise training was started and ran few iterations and then fails...
First you can try with small dataset (couple of images and labels and see all is ok.. if that is all ok.. then it should work same on full data unless something is not correct/expected in the data)

[code]

[2022-10-03 08:44] amitjc commented on #1015
Thanks @SachidanandAlle for troubleshooting.

After the error, I tried to re-run training on previously trained dataset with prior segmentation/label (which worked fine before), but failed, with above error.

Look forward to further guidance.

Best Regards,
Amit.

[2022-10-04 04:53] SachidanandAlle commented on #977
@tangy5 lets get this done as part of upcoming release

[2022-10-05 06:44] SachidanandAlle opened #1044 "UI Improvement for Options Section in 3D Slicer"
Currently all options (infer|train|activelearning) are shown in one go (single table list)
Better to have something like following (user can chose which section (infer|train|...) and name can be models/methods under for each of those section

section | name
---------------------
key, value

User can easily choose which item he/she wants to modify.  Currently you have to scroll through very small w

[2022-10-05 06:47] SachidanandAlle commented on #1015
This is nothing to do with MONAILabel.. I believe you should scan/debug your dataset which you are trying use for training..

[2022-10-05 06:50] SachidanandAlle commented on #1014
https://github.com/Project-MONAI/MONAILabel/pull/1031 solves this issue.  Thanks for reporting the issue with initial analysis for the bug.

[2022-10-05 06:50] #1014 closed

[2022-10-05 06:57] SachidanandAlle commented on #854
We have added basic region selection, validations and to use your image (not from server) in QuPath.
https://github.com/Project-MONAI/MONAILabel/pull/1024
https://github.com/Project-MONAI/MONAILabel/pull/1037

Please check out the latest monailabel branch and [qupath plugin](https://github.com/Project-MONAI/MONAILabel/releases/download/data/qupath-extension-monailabel-0.3.1.alpha.jar)

[2022-10-05 09:39] lambacini commented on #480
i think the problem is caused by prefix address parameters in dicomweb_client.
When i use a custom dicomweb server address, it adds two trailing spaces after the address.
like this  http://127.0.0.1/dicomweb//series?Modality=CT

no trailing space at the end of the address when starting the server
start command:  monailabel start_server --app apps/radiology --studies http://127.0.0.1/dicomweb --con

[2022-10-05 09:41] lambacini opened #1045 "Double trailing slash in dicomweb address"
i think the problem is caused by prefix address parameters in dicomweb_client.
When i use a custom dicomweb server address, it adds two trailing slash after the address.
like this  http://127.0.0.1/dicomweb//series?Modality=CT

no trailing slash at the end of the address when starting the server
start command:  monailabel start_server --app apps/radiology --studies http://127.0.0.1/dicomweb --conf

[2022-10-05 23:47] tangy5 opened #1047 "Support endoscopy bundles to MONAI Label Endoscopy APP+CVAT+Nuclio"
The issue discuss the progress of developing Endoscopy App with Bundle integrations.

- [x] Create the bundle loader, so that the bundle config files and models can be loaded into any existing MONAI Label app.
- [x] For each model (tooltracking, inbody/outbody, deepedit), create nuclio function container to load bundle config files instead of python files.  Afterwards, need to add a tutorial on ho

[2022-10-06 08:51] #1045 closed

[2022-10-07 00:22] tangy5 opened #1049 "Develop Progress-enable epistemic scoring for monaibundle app"
The issue keeps track on developing epistemic scoring for monaibundle app.

- [x] Create a scoring inferTask generater, `BundleScoringInferer` the scoring infer task should instantiate bundle models with dropout, if the model do not support setting dropout, skip the scoring method. Users can set dropout rate.
- [x] Add init_scoring_methods to the monaibundle app, corner case check if dropout is no

[2022-10-07 00:44] SachidanandAlle commented on #1049
you probably don't need this `Create a scoring inferTask generater, BundleScoringInferer`
Lets discuss tomorrow.. want to understand how you are planning to solve

[2022-10-07 12:52] PranayBolloju opened #1051 "RuntimeError when "brats_mri_segmentation_v0.2.1" from monaibundle is used."
**Describe the bug**
MONAI Label server is giving the following error when "brats_mri_segmentation_v0.2.1" is used for brain tumor segmentation.

**RuntimeError: Given groups=1, weight of size [16, 4, 3, 3, 3], expected input[1, 240, 240, 240, 160] to have 4 channels, but got 240 channels instead**

**To Reproduce**
Steps to reproduce the behavior:
1. pip install monailabel
2. monailabel apps --do

[2022-10-07 17:02] tangy5 commented on #1051
HI @PranayBolloju ,

To use the BRATS bundle, each data contains 4 channels as input volume. The  brats_mri_segmentation_v0.2.1 needs a pre-processing step for BRATS data later than 2018.
For the data you have downloaded from Task01, four modalities MRI images are already in one NIFTI file, but the channel dimension is at the last, e.g., (240, 240, 160, 4), the 4 is at index 3 as the input data. A

[2022-10-07 18:37] PranayBolloju commented on #1051
Hi @tangy5 ,

Thanks for the response. Can you suggest a way to preprocess the data i.e. transpose images?

[2022-10-08 19:17] diazandr3s commented on #1051
Do the transforms [AsChannelFirstd](https://docs.monai.io/en/0.1.0/transforms.html#aschannelfirstd) or [AsChannelLastd](https://docs.monai.io/en/0.1.0/transforms.html#monai.transforms.composables.AsChannelLastd) help?

@tangy5, the bundle  **_brats_mri_segmentation_v0.2.1_** needs as channel first transform? I think we can add this transform and make sure this happens, right?

[2022-10-09 01:13] tangy5 commented on #1051
Thanks @diazandr3s , I got same issue of loading multimodality data in Slicer. You solution looks good, we might need to add to monaibundel Readme on using the BRATS bundle, both the images and reminder of Slicer loading multi-channel images.

[2022-10-09 01:25] #1044 closed

[2022-10-10 08:39] PranayBolloju commented on #1051
Hi @diazandr3s

Thanks for the video. I have tried the suggestions and got the prediction. The segmentation looks fine in 3D but nothing comes up in the other slides.
![image](https://user-images.githubusercontent.com/98535359/194826532-01c95626-1ac5-46c8-bed6-fed952b4c3e4.png)

[2022-10-10 09:40] diazandr3s commented on #1051
Thanks for the update, @PranayBolloju

As you can see from the video (minute ~1:11), I proposed an ugly solution ([discard orientation](https://github.com/Project-MONAI/MONAILabel/blob/bratsSegmentation/plugins/slicer/MONAILabel/MONAILabel.py#L1254)) for MONAI Label to load the multimodality images in Slicer.

I was wondering if all is absolutely needed all modalities for your use case. Otherwise,

[2022-10-10 10:32] PranayBolloju commented on #1051
Hi @diazandr3s ,

If it is possible to do Brain Hemorrhage or Tumor segmentation  with equal accuracy when single modality or multimodality images are used,  then I suppose we don't need to use multimodality images.

[2022-10-10 10:46] diazandr3s commented on #1051
Hi @PranayBolloju,

Brain Hemorrhage and Tumor segmentation are two different tasks and they use different image modalities. AFAIK, for brain hemorrhage segmentation you employ CT images while for brain tumor segmentation MR images are more commonly used.

[2022-10-10 12:35] PranayBolloju commented on #1051
Hi @diazandr3s ,

Thanks for the insights. Is there any model available for Brain hemorrhage segmentation separately or can we use the same model used for tumor segmentation?

[2022-10-10 14:47] drbeh commented on #1009
From PRD: MONAI Label v0.X end to end experience with QuPath with the HoVerNet and NuClick bundles along with an active learning strategy.

[2022-10-11 00:47] adwaykanhere commented on #594
@patricio-astudillo @diazandr3s How did you resolve this issue? When I go to localhost:8000/ohif/ I'm seeing a blank page

[2022-10-11 01:44] diazandr3s commented on #594
Hi @adwaykanhere

It is great to see you're using MONAI Label.

Can I ask you whether you're using the Docker container? I've just checked and it seems to work smoothly when using Docker:

https://user-images.githubusercontent.com/11991079/194978543-dec7d695-b92c-4faf-bd01-e1553f009ede.mp4

Please let us know

[2022-10-11 02:26] SachidanandAlle commented on #594
How you have installed monailabel?

[2022-10-11 06:54] patricio-astudillo commented on #594
Hi,

nice that you use Monai Label, this was caused by not following the
installation procedure (and make sure all previous monai / monai label /
monai deploy packages are removed or start from a vanilla environment)

Best of luck,
Patricio

Op di 11 okt. 2022 om 02:47 schreef Adway Kanhere ***@***.***

[2022-10-11 07:26] PranayBolloju commented on #1051
Hi @diazandr3s

Thanks a lot for this information. The dataset you have provided the link to says its a forbidden dataset. Is there a way to get a dataset perhaps with label (hemorrhage) segmentation?

[2022-10-11 08:06] SachidanandAlle commented on #594
You might be using github way of monailabel.. in that case, you have to build OHIF explicitly...
https://github.com/Project-MONAI/MONAILabel#git-checkout-developer-mode

https://github.com/Project-MONAI/MONAILabel/tree/main/plugins/ohif#development-setup

[2022-10-11 10:27] diazandr3s commented on #1051
That's strange.
Have you registered for the challenge? If yes, and still doesn't work, have you contacted any of the organizers? https://instance.grand-challenge.org/Organizers/

[2022-10-11 13:24] adwaykanhere commented on #594
@diazandr3s @patricio-astudillo @SachidanandAlle Thanks so much for all your help!

I'm using the docker version of MONAI, but I still can't seem to get it to work. I'm running on macOS 12.

I followed @diazandr3s procedure but when I open http://0.0.0.0/8000 I can't connect to the webpage.

[2022-10-11 15:41] SachidanandAlle commented on #594
http://0.0.0.0/8000 ? First.. it's http://0.0.0.0:8000  for Server APIs.. and http://0.0.0.0:8000/ohif for OHIF interface..
If basic API page is not up then it means monailabel server is not even up.

If you can share the command which you are running to start the server and the logs... that can be more helpful for others to suggest what's wrong...

If you are using docker sometimes you need to op

[2022-10-11 16:01] adwaykanhere commented on #594
My apologies, I meant http://0.0.0.0:8000/

The commands I run are -

1. docker run --rm -ti --ipc=host --net=host projectmonai/monailabel:latest bash (no gpus for macOS)
2. monailabel apps --download --name radiology --output apps
3. monailabel start_server --app apps/radiology --studies http://127.0.0.1:8042/dicom-web --conf models deepedit

Connecting to http://0.0.0.0:8000/
![Screen Shot 2022-

[2022-10-11 17:24] jlvahldiek commented on #594
I can confirm that I discovered the same behavior on macOS when running:

[code]
MONAILabel, OHIF and Orthanc all are then not reachable using 'http://127.0.0.1:8000' or 'http://127.0.0.1:8000/ohif' or 'http://127.0.0.1:8042'.

I was able to get MONAILabel up using:
[code]
But in this case Orthanc and OHIF are not reachable. Investigating the container, Orthanc does not get started...

[2022-10-11 18:36] SachidanandAlle commented on #594
First thing.. you need GPUS.. without that monailabel is not complete.. you can run, but at the end most of the features won't be supported without GPU..

Second.. I see you are trying 0.0.0.0 (in some cases.. you should try 127.0.0.1:8000 instead.. depends on the resolve)

otherwise logs are good.. 2nd thing.. when u start the server

Third.. Orthanc is not part of monailabel (its a separate thin

[2022-10-11 18:42] jlvahldiek commented on #594
Thanks for clarification, @SachidanandAlle.

These lines should perhaps be removed, as they imply that the MONAILabel docker image ships with Orthanc included ...
https://github.com/Project-MONAI/MONAILabel/blob/fb8d0474927ea64834ab59d200628dcd992d396b/Dockerfile#L37-L46

[2022-10-11 18:49] jlvahldiek commented on #594
@adwaykanhere, my current workaround is that I am running a fully-configured Orthanc docker container next to a MONAILabel docker container. Works great...

[2022-10-12 01:31] adwaykanhere commented on #594
Thanks a lot, @jlvahldiek How are you able to connect the MONAILabel docker to OHIF via Orthanc?

[2022-10-12 05:16] PranayBolloju commented on #1051
Hi @diazandr3s
I have registered for the challenge and they are asking to sign an agreement and send by email. I have done that too but did not get any reply from them.

[2022-10-12 10:37] jlvahldiek commented on #594
@adwaykanhere, I will work on a tutorial setting up all three with Docker, probably will be published in a couple of days. If you can't wait please contact me directly...

[2022-10-12 14:52] berombau opened #1064 "RuntimeError: Unknown type: itkMatrixF44"
**Describe the bug**
MONAILabel fails when running spleen_deepedit_annotation on in 3D Slicer 5.0.3 and with the MONAILabel plugin version: 7cd40d8 (2022-10-10).

**To Reproduce**
Steps to reproduce the behavior:
1. Run MONAI Label on the server:
[code]

2. On client, start 3D Slicer and MONAI label, input the server (e.g. http://cp0293:8000)
3. Click Active Learning > Next Sample
4. Click Auto Se

[2022-10-12 15:13] SachidanandAlle commented on #1064
I see segmentation model worked fine.. and failed for deepedit model..
is it all the time happening for every image.. i can't even say image issue because the same image is loaded by the same transform in first model but it fails on 2nd.. is it happening randomly?

[2022-10-12 15:13] SachidanandAlle commented on #1064
`  File "/srv/scratch/benjaminr/anaconda3/envs/monai/lib/python3.10/site-packages/monai/transforms/io/array.py", line 86, in switch_endianness
    raise RuntimeError(f"Unknown type: {type(data).__name__}")`

[2022-10-12 16:09] diazandr3s commented on #1064
Are you running the MONAI Label server on a MAC, @berombau?

[2022-10-12 16:18] diazandr3s commented on #594
Hi @adwaykanhere,

MONAI Label needs GPUs to work - It hasn't been tested/doesn't work on macOS.
You could start the MONAI Label server on a [Linux or Windows machine](https://github.com/Project-MONAI/MONAILabel#installation)

![Screenshot from 2022-10-12 17-18-07](https://user-images.githubusercontent.com/11991079/195395729-bb80c96d-7f1e-4d1d-8d0b-d0f22b083044.png)

and then connect to it using O

[2022-10-12 16:25] diazandr3s commented on #1051
Hi @PranayBolloju,

I'd suggest you try another dataset like this one: https://www.kaggle.com/c/rsna-intracranial-hemorrhage-detection
Hopefully, the organizers reply soon,

[2022-10-12 16:57] PranayBolloju commented on #1051
Hi @diazandr3s ,

Many thanks for the suggestions,

I have seen that dataset too, but it does not contain 3D images and also it does not have annotations. We would have to annotate hemorrhages by ourselves which might lead to wrong labeling. I was hoping to get a dataset already annotated by experts like the Task01_BrainTumor dataset or INSTANCE 2022 dataset.

In case I don't find any pre-annotate

[2022-10-12 17:32] tangy5 commented on #1064
@berombau Thanks for reporting this. I tied to reproduce the error with my local env.
It works with my env, but as Sachi mentioned, it's not 3.10.6, it's 3.9.12.
I also tried to create an env with python 3.10.6, but I can't build wheel with the "pip install monailabel".
Here is my working env, if this help you solve the problem:

[code]

Thanks

[2022-10-13 08:26] berombau commented on #1064
Thank you for your quick response, using python=3.9 worked! Here are the steps for reference. My setup is that the MONAI Label server runs on a CentOS workstation with GPUs and I access it over the network with 3D Slicer using a Mac laptop.
[code]

In my previous setup, I installed monailabel with 3.10 binaries using the itk pre-release:
[code]

[2022-10-13 10:47] diazandr3s commented on #1064
Thanks for letting us know, @berombau

[2022-10-13 11:42] diazandr3s commented on #1051
Hi @PranayBolloju,

Regarding this:

I fully understand. I hope the challenge organizers reply soon. That will facilitate things a lot.
I was wondering whether you have access to expert manpower that can help to create these labels. Can I ask you what's the use case you have in mind once you get a the trained model?

Currently, MONAI Label does not support DICOM images on a local folder. There are

[2022-10-13 17:12] tangy5 opened #1067 "Releasing monai label v0.5.2 -- Checklist"
Releasing activities for MONAI Label v0.5.2:

Environments and Basic Tests
- [x] Upgrade dependency with MONAI v1.0.1 rc1 version, pip install monai==1.0.1rc1, locally.
- [x] First Step: upgrade monai to 1.0.1rc1 PR
- [x] Unit Test and Integration pass. Unit and Integration tests passed locally by running ./runtests.sh --net ./runtests.sh -u

Assurance for functionalities:

GPU tests:
- [x]  Verif

[2022-10-13 18:44] diazandr3s commented on #1067
I love this list. We can use this as a reference for future releases. Thanks, @tangy5

[2022-10-14 00:40] tangy5 commented on #1067
First step:
Unit, integration test passed locally with monai==1.0.1rc1,
Basic runs with sample apps infer/train with GPUs passed
PR: https://github.com/Project-MONAI/MONAILabel/issues/1067

TODO:

- [ ] We need a Endoscopy app integration test.
- [ ] Check and update all documentation to match 0.5.2

[2022-10-14 16:41] SachidanandAlle opened #1073 "Enable Interaction/NuClick Model (with classification supported) in MONAI Label"
Integrate bundle/tasks related to new NuClick model which shall provide both instance segmentation + classification as output

- Run Inference for a given patch
- Run Inference over WSI
- Finetune model (Train) over collected/submitted patches

[2022-10-14 16:45] SachidanandAlle opened #1074 "QuPath support to consume classification results"
Currently QuPath consumes only segmentation results.  It should consume both segmentation + classification outputs.

QuPath plugin should take care of adding classes (automatically for better user experience) and facilitate to reclassify for some of the cells with minimal effort.

[2022-10-14 16:49] SachidanandAlle opened #1075 "QuPath Plugin enhancement for click interactions"
- Improve click interactions for QuPath to support nuclick (multiple clicks within ROI) without asking user to explicitly mention them being positive points
- Remove positive points automatically after fetching the results from MONAI Label server

[2022-10-14 16:53] SachidanandAlle opened #1076 "QuPath - Download Next Sample/WSI Image"
Currently the image has to be shared between MONAILabel and Client.
In some cases, all the WSI images can be part of MONAILabel and user should be able to fetch the next sample (similar to Radiology use-case)

It shall be slow to download the image from server to client.  It can be cached and checksum can be used to invalidate
But helpful in some cases where WSI are located with MONAILabel and use

[2022-10-14 18:01] SachidanandAlle opened #1077 "Option to support next patch within WSI"
Integrate any active learning strategy to support this

[2022-10-15 05:57] #1047 closed

[2022-10-19 10:48] aashish-joshi-arthrex opened #1083 "Creating new monai label bundle from scratch"
Hello guys
Thanks for the adding me to the Slack group.
I recently came across MONAI project and started exploring MONAI Label and monaibundle app.
I wanted to create a new monaibundle model and start segmentation from scratch.
I followed https://github.com/Project-MONAI/tutorials/blob/main/bundle/get_started.ipynb to create a new bundle and deployed it on MONAI Label server.I have used the defaul

[2022-10-19 12:57] PranayBolloju commented on #1051
Hi @diazandr3s ,

Thank you for all the suggestions, it really helped.

I was following your suggestion and converted some images from NIFTI to DICOM using plastimatch.
The command I have used is:
`plastimatch convert --patient-id patient1 --input BRATS_001.nii.gz --output-dicom BRATS_001`

I have added _'ensure_channel_first'_ arg in inference.json in monaibundle\brats_mri_segmentation_v0.2.1\con

[2022-10-19 15:32] tangy5 commented on #1083
HI @aashish-joshi-arthrex ， thanks for the questions, Iooking at your error log.
The issue is cause by the pre-transforms regarding Crop, the third dimension 84 is smaller than 96, I suggest you can add a SpatialPadd transform before cropping to guarantee the dimension is equal and large than the crop size.

[2022-10-19 18:34] amrshadid commented on #223
Any update ?

[2022-10-19 18:44] DrAkshaykumar commented on #223
I would also like to know.

Regards

On Wed, 19 Oct, 2022, 7:34 pm Amr Shadid, ***@***.***> wrote:

[2022-10-20 14:01] diazandr3s commented on #1051
Hi @PranayBolloju,

Thanks for the update.

Did you make sure the DICOM images are multiparametric? I mean, does the input have the 4 modalities needed for the pretrained model?

I believe this is why you're getting this error.

Hope this helps,

[2022-10-20 15:13] PranayBolloju commented on #1051
Hi @diazandr3s ,

Thanks for the reply

I think the images converted to DICOM are not with 4 modalities. I have tried 2 ways to convert the images.

- By using export to dicom option from 3D slicer.
- plastimatch convert --patient-id patient1 --input BRATS_001.nii.gz --output-dicom BRATS_001

Is there a way to preserve the modality when converted to DICOM?

[2022-10-20 15:57] diazandr3s commented on #1051
BRATS or Task01_BrainTumour are highly preprocessed datasets. They are skull-stripped and modality co-registered. It is not easy to find a similar dataset with these characteristics.

I'm not sure about this, but I think you can't save all modalities in a single DICOM file.

[2022-10-20 15:58] diazandr3s commented on #1051
BRATS or Task01_BrainTumour are highly preprocessed datasets. They are skull-stripped and modality co-registered. It is not easy to find a similar dataset with these characteristics.

I'm not sure about this, but I think you can't save all modalities in a single DICOM file.

@wyli do you know if this is possible? Can we store 4 modalities in a single DICOM file?

[2022-10-21 15:17] PranayBolloju commented on #1051
Hi @diazandr3s

Thanks for the clarification.

I went ahead and trained a model with the converted images(i.e images that converted to single modality). The following are the changes I made in config files before training the model.

- Changed the "in_channels" value to 1 from 4 in brats_mri_segmentation_v0.3.0/configs/train.json ,inference.json and metadata.json.
- Added "ensure_channel_first":tr

[2022-10-24 04:49] tangy5 opened #1087 "Add detection labeling models support to Slier"
Current Slicer + MONAI Label do not support box regression results support.
This issue tacks the progress to add features of enabling detection models support for Slicer.
Users can use detection models, such as lung lesion detection bundle in 3D Slicer for labeling. Box regression functions should be added.

The function should support the model output type: dictionary of classification and box re

[2022-10-24 15:17] andrejadd opened #1088 "CVAT project/task not created for endoscopy images"
Hi All,

I am trying to get CVAT tasks created with the endoscopy sample-app, but after adding files to the data store no task is created. The server detects the images and adds them to the local data store, but does not create the task. I've added the images by placing them into the `workspace/images` folder and by using a REST API call through the swagger web UI (in both cases the server process

[2022-10-25 01:16] tangy5 commented on #1088
Hi @andrejadd , thanks for the question.
If I understood your question correctly, you'd like to check if there is a way to upload endoscopy images to CVAT without scoring process or with random scorer.

First of all:
If you would like to push and upload all images to CVAT for labeling no matter what scoring methods are used, you could set epistemic_top_k parameter equal to the number of images add

[2022-10-25 08:59] andrejadd commented on #1088
Thanks for the quick response. I increased `epistemic_top_k` and actually something happened and images got processed with inference from the model. Then the epistemic scoring starts, but it fails because of another error (not related to this issue).
FYI, its about the BasicUNet:
[code]
I'll close this issue for now.

[2022-10-25 08:59] #1088 closed

[2022-10-26 10:26] diazandr3s commented on #1051
Hi @PranayBolloju,

Thanks for the update. It's good to see these results.

Does this happen to all test cases? Which modality did you use here?

Bear in mind that the tumor core (necrotic area) and edema (whole tumor) are visible on the other modalities (T1 + Contrast, T2, etc). That's mainly the reason for using different modalities.

[2022-10-26 11:12] PranayBolloju commented on #1051
Hi @diazandr3s
Yes it is happening to all test cases.
[BRATS_055.nii.gz](https://github.com/Project-MONAI/MONAILabel/files/9868797/BRATS_055.nii.gz)
[BRATS_056.nii.gz](https://github.com/Project-MONAI/MONAILabel/files/9868798/BRATS_056.nii.gz)
There are a couple of images used for this model.

And a similar thing is happening while doing inference with pretrained model from monaibundle i.e _brats_

[2022-10-26 22:15] AHarouni opened #1099 "Add command to stop running monailabel server"
As monai label features is growing, I am running multiple servers from the same host, one for radiology, another for pathology, and a 3rd for videos. It would be nice If I can easily start them in the background and give each an alias

Request:
1- Please provide an option to start the server as background --> currently I use `&`
2- Please provide a way to give monailabel server an alias, would mak

[2022-10-26 22:20] SachidanandAlle commented on #1099
We suggest using docker containers per instance of monailabel server.  That's the best way to manage the life-cycle.
However I am keeping this issue on backlog.. If there are more users showing similar request, we can pick it up.

Otherwise, feel free to raise a PR and add your contributions.
https://github.com/Project-MONAI/MONAILabel/blob/main/CONTRIBUTING.md

[2022-10-26 23:27] diazandr3s commented on #1051
Thanks for clarifying this, @PranayBolloju.

It seems this issue comes from the post-processing transforms:

Please change this argument (https://github.com/Project-MONAI/model-zoo/blob/dev/models/brats_mri_segmentation/configs/inference.json#L76) to softmax=true and this (https://github.com/Project-MONAI/model-zoo/blob/dev/models/brats_mri_segmentation/configs/inference.json#L90) to argmax=true

[2022-10-27 08:09] PranayBolloju commented on #1051
Hi @diazandr3s

I have changed the suggested lines.
![image](https://user-images.githubusercontent.com/98535359/198227726-505df5dd-5ebb-4385-ac5b-5ad2c53913e1.png)

And the segmentation looks like this.
![image](https://user-images.githubusercontent.com/98535359/198227878-1727c49d-39d2-47b1-b702-4644ef8e4cc5.png)

[2022-10-27 13:55] diazandr3s commented on #1051
Hi @PranayBolloju,

As I mentioned before, this bundle was designed to output three channels, one per label. 3D Slicer only takes the first one.

I've checked the training process and it seems it was designed to work like that - sigmoid per channel and to have one-hot representation of the output.

See the training transforms: https://github.com/Project-MONAI/model-zoo/blob/dev/models/brats_mri_se

[2022-10-27 16:03] PranayBolloju commented on #1051
Hi @diazandr3s
Thanks for the clear explanation.
I have tried to train a deepedit model.These are the changes I made in config file.

            "NCR": 1,
            "ED": 2,
            "ET": 3,
            "background": 0,
        }

These are example files that I used for training.
Volume
[BRATS_001.nii.gz](https://github.com/Project-MONAI/MONAILabel/files/9880984/BRATS_001.nii.gz)
Label
[BRA

[2022-10-27 23:12] diazandr3s commented on #1051
Hi @PranayBolloju,

I'd suggest the following:

- Train for more epochs
- Change the intensity window for training and inference: https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/trainers/deepedit.py#L107-L108
- Try the segmentation model

Deepedit uses the whole image for training and inference, while the segmentation model uses patches.

Sorry, I've totally forgott

[2022-10-27 23:25] pieper commented on #1051
BTW, some of the brain images in your screenshots are not loaded correctly in 3D Slicer (it's at least flipped front-to-back).  It looks like your headers are being incorrectly encoded somewhere in the pipeline.

[2022-10-28 09:22] PranayBolloju commented on #1051
Hi @diazandr3s

Many thanks for the clear insights

I was planning to use DicomWeb server as data storage. So I've converted NIFTI images to DICOM using "plastimatch". This affected the modality of the images. Images were 4 channel before converting to DICOM. They became 1 channel after converting to DICOM. So I converted the DICOM images back to NIFTI images (Now 1 channel NIFTI images) to train

[2022-10-28 15:02] lassoan commented on #1051
Those 4-channel NIFTI images in BRATS is a complete nonsense, because 4 completely independent images are resampled and dumped into a single image file. This misuse is possible in NIFTI (although it breaks several rules of the standard and you lose information about what kind of images you have in the file), but it is not even possible in DICOM. If you want to store images in DICOM then you need t

[2022-10-29 08:26] wyli commented on #1064
the itk type won't be compatible with pytorch's data utils:
[code]

I'll try to add a convert step

[2022-10-29 11:01] #1064 closed

[2022-11-01 17:28] SachidanandAlle commented on #1075
Cleaned up possible user experience.. User can now add ROI points rather than classifying them explicitly as postive points for nuclick.. and after updating the results.. those ROI points are auto removed

[2022-11-01 17:28] #1075 closed

[2022-11-01 17:31] SachidanandAlle commented on #1076
Next Patch implementation is done.. Using random active learning strategy for testing/verifying
Need to work on Next Sample (download wsi image and load into QuPath)

![image](https://user-images.githubusercontent.com/7339051/199298859-37da7f16-6f0b-4ff3-a901-5ca112d6afb6.png)

[2022-11-01 22:50] #1067 closed

[2022-11-02 05:44] manishdhakal opened #1111 "Failed to save label in OHIF Viewer - Detection task on 2D images"
**Description**
I am not able to save the labels of the DICOM file because  of the missing tmp dicom file.

**Reproducing the bug**
Steps to reproduce the behavior:
1. Go to OHIF study list with "/ohif" url and select a dicom file.
2. Add segment labels from the with "MONAI Label" menu from the right of the screen.
3. Click on the "Submit Label" button from the "Active Learning" section.

**Screen

[2022-11-02 22:53] #1049 closed

[2022-11-02 22:54] tangy5 commented on #1030
Thanks for all the comments for this feat, as PR is merged, we might close this.

[2022-11-02 22:54] #1030 closed

[2022-11-02 23:02] tangy5 opened #1112 "MONAI Label End-to-end tutorials for each app+client+datastore usecase"
MONAI Label needs a group of end-to-end tutorials for users quickStart.
Each tutorial should be instructing beginners to hands on MONAI Label + Client step by step.

We will do app + Client Viewer + file system combinations with one task. And put them on the MONAI Label homepage or in a "tutorials" Github directory

For longer run, this will save developer and users time.
Planned e2e usecase tutor

[2022-11-04 08:23] dyollb opened #1115 "ITKWriter can write nrrd files"
Looking through some code I stumbled across this `write_seg_nrrd` function.

https://github.com/Project-MONAI/MONAILabel/blob/91c48c453986831d3bf1d7bc0fddb1bd60595f0d/monailabel/transform/writer.py#L69

ITK has support for nrrd (reading/writing), so this code could probably use `SaveImaged(writer="ITKWriter", ...` instead

[2022-11-04 10:43] jlvahldiek commented on #1115
`ITKWriter` supports nrrd, that's correct. As far as I remember, at the time when we committed the `write_seg_nrrd` function, it was not possible to write multi-channel arrays with overlapping segments using `ITKWriter`. Is it now possible, @dyollb? @markus-hinsche, maybe you could also add a comment?

[2022-11-04 11:51] dyollb commented on #1115
I think so, but I can imagine there may be differences in how the image is written (3D vs 4D) and then interpreted by 3rd party libraries/tools.

For instance, when I write the "probability" channels before doing `argmax` using `SaveImaged`, I get two different behaviors
- ITKWriter: writes an image that is interpreted as 3D with N channels by e.g. SimpleITK
- NibabelWriter: is interpreted as 4D b

[2022-11-04 13:16] #1115 closed

[2022-11-04 14:11] pieper commented on #1115
You may want to look into [the SlicerIO[(https://pypi.org/project/slicerio/0.1.5/) package.

[2022-11-04 17:06] danieltudosiu opened #1116 "MONAI Label App - Radiology - Transforms - Bug"
Hi everyone,

I have started researching active learning and I am trying to use MONAI Label to develop my pipeline. I have started from the radiology sample app as a baseline app to develop it to be scriptable and I am having issues running it since I encountered this bug.

**Describe the bug**
The reordering of the labels generates that happens [here](https://github.com/Project-MONAI/MONAILabel/b

[2022-11-07 15:51] SachidanandAlle opened #1121 "Bundle for NuClick model"

[2022-11-07 15:54] SachidanandAlle opened #1122 "Bundle for Classification model"

[2022-11-08 12:03] diazandr3s commented on #1111
Hi @manishdhakal,

Thanks for opening this issue.

This task isn't a segmentation task but a detection task. You may find this monaibundle useful: https://github.com/Project-MONAI/model-zoo/tree/dev/models/lung_nodule_ct_detection - this example is for 3D images, though

MONAI Label was initially designed for segmentation tasks. Detection tasks are not as mature as segmentation tasks.

Are you usi

[2022-11-08 12:35] diazandr3s commented on #1116
Hi @danieltudosiu,

Many thanks for the detailed issue.
The main role of transform **NormalizeLabelsInDatasetd** is to compensate for the label numbering when there are missing labels in the ground truth.
I mean, if we have a case like this https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/configs/deepedit.py#L42-L51

it converts the label dictionary to:

[code]

Let'

[2022-11-10 09:57] ExonakiDev opened #1134 "Using QuPath with MonaiLabel Pathology sample app yields 500 error"
<img width="1341" alt="Screenshot 2022-11-10 at 4 53 19 AM" src="https://user-images.githubusercontent.com/4082672/201059296-27f8ba1c-6d9a-460b-be55-9ef9647bd685.png">
<img width="1341" alt="Screenshot 2022-11-10 at 4 53 28 AM" src="https://user-images.githubusercontent.com/4082672/201059318-9eb7c364-49a9-48e3-a819-6c20210979df.png">

Following the tutorial, on the sample app pathology github READ

[2022-11-10 11:05] ExonakiDev commented on #1134
Thank you, I have been using the latest MONAILabel docker image. Also, one slightly unrelated but related thing. Instead of QuPath I tried using dsa web, how do I get the MONAI dsa plugin installed?

I am slightly lost...

[2022-11-10 20:19] #1077 closed

[2022-11-10 20:20] #1074 closed

[2022-11-11 13:19] ericspod opened #1138 "Spine Localisation Network Definition"
**Describe the bug**
The network definition for spine localisation [here](https://github.com/Project-MONAI/MONAILabel/blob/434dfddd7727c61cfd663fc3430d7b493d436ba3/sample-apps/radiology/lib/configs/localization_spine.py#L77) appears to have channels for every vertebra, however this should be a binary segmentation task? The UNet definition for the per-vertebra labeling [here](https://github.com/Pro

[2022-11-11 13:25] danieltudosiu commented on #1116
@diazandr3s I stumbled across this bug again today when I corrected some of the labels in the radiology app for my usage.

What happens is that there is that skip which in turn creates issues with the loss calculations as it errors out with index out of bounds.

I have some code that I can share if you wish. I have not checked why this does not happen in the default app but I assume is due to the

[2022-11-11 16:34] MichelaA opened #1139 "segmentation network definition"
**Describe the bug**
The segmentation example [here](https://github.com/Project-MONAI/MONAILabel/blob/434dfddd7727c61cfd663fc3430d7b493d436ba3/sample-apps/radiology/lib/trainers/segmentation.py) is very oriented to CT images and it is not easy to understand what should be changed to adapt it to MRI. Maybe a comment on the specific transforms could help to understand what to change/remove

[2022-11-11 17:38] SachidanandAlle commented on #1139
Have you trained a model on MR dataset?

[2022-11-11 18:12] tangy5 commented on #1139
Hi @MichelaA , for a quick answer.
You might need to modify this transforms according to MRI images:

`            ScaleIntensityRanged(keys="image", a_min=-175, a_max=250, b_min=0.0, b_max=1.0, clip=True),
`
The normalization should be different, MRI should be more adaptive to zero-mean norm and scale.
Other transforms might also need to be changed correspond to different tasks.
As @SachidanandAl

[2022-11-14 11:24] diazandr3s commented on #1138
Hi @ericspod,

Thanks for checking this. I know this seems a bit confusing.
The final output of the spine localisation model is binary. However, we trained the network with all vertebra labels and then binarised the output. This post-transform does that: https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/infers/localization_spine.py#L85

This way of training works bett

[2022-11-14 12:23] diazandr3s commented on #1116
Hi @danieltudosiu,

It is strange. I just tried several use cases and I can't reproduce this error. Can you please provide more details and/or the logs you're getting?

I've tried different label numbering and the transform (**NormalizeLabelsInDatasetd**) does what it meant to do.

I've also checked the label numbering in transform **[SplitPredsLabeld](https://github.com/Project-MONAI/MONAI/blob/9

[2022-11-14 14:57] ericspod commented on #1138
Ok that does make sense. Thanks!

[2022-11-14 14:57] #1138 closed

[2022-11-14 16:04] SachidanandAlle commented on #1134
For DSA plugin you need to install DSA first..
More details here: https://github.com/Project-MONAI/MONAILabel/tree/main/plugins/dsa

[2022-11-14 16:06] tangy5 commented on #1134
Hi @ExonakiDev ,

The issue will appear when the data loaded in Qupath is not in the "monailabel start_server ...... --studies /folder to data".
You could double check whether the **data used in Qupath** is located in the same path of `monailabel command` in **--studies**.
hope this helps!

[2022-11-14 17:01] SachidanandAlle commented on #1116
@danieltudosiu it is true.. it's more of a reference implementation with couple of different types of model (to segment xyz labels) and these examples will not generalize to fit in every other use-case to train your own model.

Either you have to fix data preparation, transforms etc.. depending on your dataset.
But if you find better ways to make it more generic, please feel free to chime in and r

[2022-11-14 18:45] ExonakiDev commented on #1134
It was the same data file that was present on both however I think the relative path of the directory might not have matched up. It might be helpful for other people if added in more depth to the README/docs. Thank you so much for your help though, I got DSA working right.

[2022-11-14 19:38] SachidanandAlle commented on #1134
Try using latest version of plugin.. there are lots of improvements added.. u don't have to share the image.. u can load your own in qupath etc..

https://github.com/Project-MONAI/MONAILabel/releases/download/data/qupath-extension-monailabel-0.3.1.jar
(use the main branch to get the nuclick/classification model experience)

[2022-11-14 23:42] ulphypro commented on #1051
Hello, members

I have a question.

When I run this command that is monailabel start_server --app monaibundle --studies Task09_Spleen/imagesTr --conf models renalStructures_UNEST_segmentation_v0.2.0
Using PYTHONPATH=C:\Users\KRK\AppData\Local\Programs\Python;, the result shows error that is APP Directory monaibundle NOT Found.

Monaibundle location saved in my pc is C:\Users\KRK\AppData\Local\MONA

[2022-11-15 00:04] SachidanandAlle commented on #1051
Where you have downloaded the app? There r 4 different apps (sample apps).. check if dir 'monaibundle' exits from where you r running the command

[2022-11-15 00:06] SachidanandAlle commented on #1051
Also note.. bundles work good on Linux version.. as sometimes they have bash scripts.. specially training.. however infer you can still on windows using bundle via monailabel

[2022-11-15 00:18] SachidanandAlle commented on #1051
start with simple spleen one.. brain mri input has some 4 channels.. and possibly model is trained over 3 or vice versa..

[2022-11-15 00:19] SachidanandAlle commented on #1051
also u need to check the error on the server side.. there will be a descriptive log for each of those steps.. that should give fair amount of information.. what's happening.. why it's happening

[2022-11-15 00:29] ulphypro commented on #1051
@SachidanandAlle OK. I will try.

[2022-11-15 13:00] danieltudosiu commented on #1116
I had a chat with @diazandr3s today and explained the issue in detail. The buggy code is [this for loop](https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/radiology/lib/transforms/transforms.py#L533). I am proposing to change it to:
[code]
@diazandr3s agreed with the surgical change.

@SachidanandAlle regarding the Radiology App I am mainly talking about the main.py which is peculi

[2022-11-15 20:20] bpataybac opened #1149 "Save Label in NRRD format instead of NIFTI as an option"
MONAI Label accepts NRRD volumes for segmentation; however, it appears it saves segmentation label in NIFTI.  May we have an option in the command line to save in NRRD?

[2022-11-15 21:06] SachidanandAlle commented on #1149
Yes.. you can pass `{"result_extension": ".nrrd"}` in the params
![image](https://user-images.githubusercontent.com/7339051/202025179-8835fe17-9c52-487c-b2a8-9aab18d9ab77.png)

Example:
https://github.com/Project-MONAI/MONAILabel/blob/main/plugins/slicer/MONAILabel/MONAILabel.py#L2179

[2022-11-16 01:30] bkonk opened #1151 "Unable to run inference or upload labels after failed sample fetch"
I'm trying to train a segmentation model on some test data (nifti format). I'm able to generate and submit labels, and train and run inference. However, I will occasionally hit "Failed to fetch Sample from MONAI Label Server" when I select "Next Sample". This could be a corrupted file or something (it's random test data so I'm not concerned and happy to skip over). If I hit "Next Sample" again aft

[2022-11-16 04:44] SachidanandAlle commented on #1151
You can directly copy/place the labels into your studies/labels/final folder.. monailabel will auto detect them.. and you start training

[2022-11-16 21:02] bpataybac commented on #1149
Thank you so much.

[2022-11-16 21:02] #1149 closed

[2022-11-18 00:14] ulphypro commented on #1051
Dear all members

I’m working auto segmentation with brats_mri_segmentation_v0.2.1 in 3D-Slicer.

When I conduct server start, I used command that is ‘monailabel start_server --app apps/monaibundle --studies datasets/Task01_BrainTumour/imagesTr --conf models brats_mri_segmentation_v0.2.1’.

I added code that is ’ “ensure_channel_first”: true ’ in “preprocessing” part in Inference.json of monaibund

[2022-11-18 12:26] MLK97 opened #1154 "Issue with pyproject.toml when installing monailabel through pip on windows"
**Describe the bug**
I am currently trying to install monailabel on a windows 11 machine through pip.
The installation fails during preparing the metadata from/in pyproject.toml.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [quickstart manual'](https://docs.monai.io/projects/label/en/latest/quickstart.html)
2. Install monailabel as described

**Expected behavior**
The installation f

[2022-11-18 15:55] diazandr3s commented on #1051
Hi @ulphypro,

As mentioned before, having 4 modalities in a single nifti file does not make much sense: https://github.com/Project-MONAI/MONAILabel/issues/1051#issuecomment-1295108353

I'd recommend the same as @SachidanandAlle: https://github.com/Project-MONAI/MONAILabel/issues/1051#issuecomment-1314582197

Unfortunately, the monaibundle for brats (brats_mri_segmentation_v0.2.1) needs more work

[2022-11-19 05:23] ulphypro commented on #1051
Dear @diazandr3s

Thank you for answering my question.

Then, shall I edit in_channel->4 into 1, out_channel ->3 into 1 and shall I run using only one target arugment as following :
 "transforms"-->   "_target_": "Activationsd",
                              "keys": "pred",
                              "sigmoid": true

 in /configs/inference.json.files?
Likewise, also configs/train.json?

[2022-11-21 15:05] SachidanandAlle commented on #1076
now user can download wsi image from remote

[2022-11-21 15:05] #1076 closed

[2022-11-21 23:07] diazandr3s commented on #1076
This is great!

[2022-11-22 22:56] diazandr3s commented on #1051
Hi @ulphypro,

The issue isn't only the code, but it is also the dataset. Each file should have a single modality, not 4 as it currently has.

If you want to use Slicer, you have to separate the 4 modalities or use the original BRATS 2021 dataset - it originally has the 4 modalities separated.

Once you have the separated files, I'd recommend using the segmentation app in MONAI Label radiology app

[2022-11-25 06:43] ulphypro commented on #1051
@diazandr3s

Thank you for answering my question.

I downloaded BraTS2021 dataset as you mention.

Should I run using apps/radiology with BraTS2021 dataset?

After starting monailabel server using command 'monailabel start_server --app apps/radiology --studies datasets/Task01_BrainTumour/imagesTr --conf models segmentation' in Window Powershell, I can't run 3D-Slicer.

Because It doesn't support s

[2022-11-26 13:45] diazandr3s commented on #1051
Hi @ulphypro,

It seems you've downloaded Task01 from the medical segmentation decathlon. That dataset is composed of files that contain all four modalities in a single nifti file. This is precisely the issue: https://github.com/Project-MONAI/MONAILabel/issues/1051#issuecomment-1295108353

I'd recommend you download the original BRATS dataset that has the nifti files separated - please check here

[2022-11-28 11:54] shrutisen opened #1160 "monai-ohif"
Started both the orthanc and monai servers following the documentation, but ohif platform isn't starting up on 8000 port

[2022-11-29 05:42] ulphypro commented on #1051
Dear @diazandr3s

Thank you for answering my question.

I ran monailabel using 3D-Slicer as you refer mention.

I conducted as following.

Please, see process as following.

1. I downloaded BraTS2021 dataset.
(kaggle link : https://www.kaggle.com/datasets/dschettler8845/brats-2021-task1)
[included dataset]
-BraTS2021_00495.tar
---BraTS2021_00495_flair.nii.gz
---BraTS2021_00495_seg.nii.gz
---BraTS2

[2022-11-29 14:28] sscotti opened #1161 "Issue with Installing using Docker on Mac OS (Big Sur Intel) - syntax and also GPU's"
**Describe the bug**
Was following the Docker Hub installation notes from this page:  [Docker Hub Install](https://docs.monai.io/projects/label/en/latest/installation.html)

**To Reproduce**
It says to use:

docker run -it --rm --gpus all --ipc=host --net=host -v ~:/workspace/ projectmonai/monailabel:latest bash

That throws a couple of errors, one related to the '~:/' syntax and another one relat

[2022-11-29 23:00] SachidanandAlle commented on #1161
It works with Nvidia GPU only..

[2022-11-29 23:14] sscotti commented on #1161
I take it the M1 Pro Mac chips won't work then either ?  Are there recommended Cloud services and/or hardware for a development envirnoment, e.g. Google, AWS, or some small server or worstation hardware ?  I might be interested in getting some mid-range hardware for development purposes if that is the case.

[2022-11-29 23:17] sscotti commented on #1161
This might also be helpful later ?  [NVIDIA setup](https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/install-guide.html)

[2022-11-29 23:18] SachidanandAlle commented on #1161
Yeah medium sized GPU. Say 8GB to 12GB should help to see basic e2e workflows.. either on aws/cloud or even a laptop with Nvidia GPU is good to try

On smaller GPUs you may not run heavy training jobs.. but good enough for sanity test

[2022-11-30 12:09] diazandr3s commented on #1051
Hi @ulphypro,

A couple of things here:
- Files with this ending **_seg.nii.gz** are the segmentation ground truth. To run MONAI Label, they shouldn't be in the same folder as the images.
- Set the self.number_intensity_ch = 1 -- This means the model only uses single modality
- Remove all files within the folder apps/radiology/model

Hope this helps,